.manage_wrapper
  margin-bottom: 20px

  a
    text-decoration: none

  nav
    .brand
      padding: 5px

    .text
      font-size: 20px

  .index_wrapper, .permission_wrapper
    padding-top: 15px

  .index_wrapper
    padding-top: 15px

    .layer
      border-bottom: 2px solid grey
      padding: 5px 0

      a
        margin-bottom: 2px

      &:last-child
        border-bottom: 0px
        font-weight: bold
        font-size: 16px

      .children_list

        a
          margin: 0 0 2px 35px
          font-weight: normal
          font-size: 12px

        .children_dropdown
          margin-left: 35px

          a
            margin: 0

        &.hidden
          display: none

    .no_placemarks, .no_events, .event_pagination
      clear: both
      text-align: center

    .filter
      margin: 10px 0

      a
        margin-left: 15px
        padding: 2px
        border-radius: 2px

        &.active
          font-weight: bold
          font-size: 16px

      .lang
        +inline-block

        a
          margin-left: 0

  .form_wrapper
    margin-top: 15px

    .form-group
      &.document_tag_list
        label
          display: block

      .placemark_title
        position: relative

        label
          position: absolute
          top: 0

        .controls
          width: 880px
          margin-left: 200px

          textarea
            width: 100%

      .placemark_description
        position: relative

        label
          position: absolute
          top: 0

        .controls
          width: 880px
          margin-left: 200px

          textarea
            width: 100%

      label
        display: block

      div
        display: inline-block

      .help-inline
        color: red
        margin-left: 10px
        font-size: 12px

      .preview_image
        max-width: 300px
        max-height: 300px

      .custom_select

        .root_option
          background-color: #CCCCCC
          color: grey

      #event_placemark_id, #event_map_layer_id
        max-width: 800px

  .map_wrapper
    margin-bottom: 15px

    .map
      height: 450px

.show_for
  .wrapper
    margin-bottom: 10px

  .label
    color: inherit
    font-size: 100%
    padding: 0

div.tagsinput input
  width: 150px

fieldset
  .fields
    +clearfix

    .form-group
      float: left
      width: 85%

      .ui-autocomplete-input
        width: 100%

    .remove_nested_fields
      width: 10%
      float: left
      margin-top: 30px
      background: image_url('remove_icon.png') no-repeat center center
      text-indent: -999em

    .text-danger
      clear: both

.label
  a
    color: #fff
