.manage-wrapper

  nav
    .brand
      padding: 5px

    .text
      font-size: 20px

      &:hover
        text-decoration: none

  .index_wrapper
    padding-top: 15px

    .layer
      border-bottom: 2px solid grey
      padding: 5px 0

      a
        margin-bottom: 2px

      &:last-child
        border-bottom: 0px
        font-weight: bold
        font-size: 16px


    .placemark_list

      a
        text-decoration: none

      .no_placemarks
        clear: both
        text-align: center

  .form_wrapper
    margin-top: 15px

    .form-group

      label
        width: 200px

      div
        display: inline-block

      .help-inline
        color: red
        margin-left: 10px
        font-size: 12px

      .preview_image
        max-width: 300px
        max-height: 300px

  .map_wrapper
    margin-bottom: 15px

    .map
      height: 450px
