<% content_for :content do %>
  <div class='content_wrapper'>
    <div class="about_project">
      <div class="presentation">
        <%= javascript_include_tag "presentation" %>
        <%#= content_tag :h1, @content_first.part_title if @content_first %>
        <%#= render_partial_for_region(@content_first) %>
        <ul class='accordion'>
          <li>
            <p><a href="#tab-1">ИНОТомск’2020</a></p>
          </li>
          <li class="selected">
            <p><a href="#tab-2">Почему Томск <span>(предпосылки)</span></a></p>
            <ul>
              <li><a href="#tab-21">15 лет инновационного развития</a></li>
              <li><a href="#tab-22">Уникальный научно-образовательный комплекс</a></li>
              <li><a href="#tab-23">Университеты — лидеры российского высшего образования</a></li>
              <li><a href="#tab-24">Развитая инфраструктура инновационной деятельности</a></li>
              <li><a href="#tab-25">Особая экономическая зона технико-внедренческого типа «Томск»</a></li>
              <li><a href="#tab-26">Предпринимательская среда</a></li>
              <li><a href="#tab-27">Показатели роста</a></li>
            </ul>
          </li>
          <li>
            <p><a href="#tab-3">Преодоление ограничений <span>(задачи и действия)</span></a></p>
            <ul>
              <li><a href="#tab-31">Этапы</a></li>
              <li><a href="#tab-32">Развитие научно-образовательного парка</a></li>
              <li><a href="#tab-33">Развитие инновационной инфраструктуры</a></li>
              <li><a href="#tab-34">Развитие транспортной инфраструктуры</a></li>
              <li><a href="#tab-35">Развитие социальной инфраструктуры</a></li>
              <li><a href="#tab-36">Финансирование</a></li>
            </ul>
          </li>
          <li>
            <p><a href="#tab-4">Комфортная среда <span>(результаты)</span></a></p>
            <ul>
              <li><a href="#tab-41">Центр с уникальной предпринимательской средой</a></li>
              <li><a href="#tab-42">Для России и Томской области</a></li>
              <li><a href="#tab-43">Для науки и образования</a></li>
              <li><a href="#tab-44">Для бизнеса</a></li>
              <li><a href="#tab-45">Для населения</a></li>
              <li><a href="#tab-46">Для России и мира</a></li>
              <li><a href="#tab-47">Целевые индикаторы проекта</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <%= content_tag :div, render_navigation_with_separator(@content_navigation.content.values.first['children']), :class => 'navigation' if @content_navigation %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
