<% content_for :content do %>
  <div class='content_wrapper'>
    <div class="about_project">
      <div class="presentation">
        <%= javascript_include_tag "presentation" %>
        <%#= content_tag :h1, @content_first.part_title if @content_first %>
        <%#= render_partial_for_region(@content_first) %>
        <ul class='accordion'>
          <li class="selected">
            <p><a href="#tab-1">ИНОТомск’2020</a></p>
          </li>
          <li>
            <p><a href="#tab-2">Почему Томск <span>(предпосылки)</span></a></p>
            <ul>
              <li><a href="#tab-21">15 лет инновационного развития</a></li>
              <li><a href="#tab-22">Уникальный научно-образовательный комплекс</a></li>
              <li><a href="#tab-23">Университеты — лидеры российского высшего образования</a></li>
              <li><a href="#tab-24">Развитая инфраструктура инновационной деятельности</a></li>
              <li><a href="#tab-25">Особая экономическая зона технико-внедренческого типа «Томск»</a></li>
              <li><a href="#tab-26">Предпринимательская среда</a></li>
              <li><a href="#tab-27">Показатели роста</a></li>
            </ul>
          </li>
          <li>
            <p><a href="#tab-3">Преодоление ограничений <span>(задачи и действия)</span></a></p>
            <ul>
              <li><a href="#tab-31">Этапы</a></li>
              <li><a href="#tab-32">Развитие научно-образовательного парка</a></li>
              <li><a href="#tab-33">Развитие инновационной инфраструктуры</a></li>
              <li><a href="#tab-34">Развитие транспортной инфраструктуры</a></li>
              <li><a href="#tab-35">Развитие социальной инфраструктуры</a></li>
              <li><a href="#tab-36">Финансирование</a></li>
            </ul>
          </li>
          <li>
            <p><a href="#tab-4">Комфортная среда <span>(результаты)</span></a></p>
            <ul>
              <li><a href="#tab-41">Центр с уникальной предпринимательской средой</a></li>
              <li><a href="#tab-42">Для России и Томской области</a></li>
              <li><a href="#tab-43">Для науки и образования</a></li>
              <li><a href="#tab-44">Для бизнеса</a></li>
              <li><a href="#tab-45">Для населения</a></li>
              <li><a href="#tab-46">Для России и мира</a></li>
              <li><a href="#tab-47">Целевые индикаторы проекта</a></li>
            </ul>
          </li>
        </ul>
        <div class="content">
          <div id="tab-1">
            <h1>ИНО<b>Томск 2020</b></h1>
            <p> — <b>проект создания</b> на образовательной, научно-исследовательской и производственной базе организаций в Томской области <b>инновационного центра</b> образования, исследований и разработок <b>с дополнением</b> необходимых <b>элементов</b> инновационной, транспортной и социальной <b>инфраструктуры</b>, который формирует уникальную предпринимательскую среду с целью достижения инновационного и технологического лидерства по приоритетным направлениям модернизации и развития экономики России.</p>
          </div>
          <div id="tab-21">
            <h1>15 лет инновационного развития</h1>
            <ul>
              <li>1-е место в России по концентрации научных кадров высшей квалификации</li>
              <li>1-я в России региональная стратегия инновационного развития</li>
              <li>1-й в России межвузовский бизнес-инкубатор</li>
              <li>1-й в России инновационный форум</li>
              <li>1-й в России консорциум университетов и научных организаций</li>
              <li>1-е место в рейтинге инновационно активных регионов России</li>
            </ul>
          </div>
          <div id="tab-22">
            <h1>Уникальный научно-образовательный комплекс</h1>
            <ul>
              <li>10 учреждений высшего профессионального образования</li>
              <li>6 государственных университетов</li>
              <li>6 институтов Томского научного центра Сибирского отделения Российской академии наук</li>
              <li>7 институтов Томского научного центра Сибирского отделения Российской академии медицинских наук</li>
              <li>76 субъектов научной деятельности</li>
            </ul>
          </div>
          <div id="tab-23">
            <h1>Университеты — лидеры российского высшего образования</h1>
            <ul>
              <li>более 300 специальностей</li>
              <li>60 специальностей, связанных с приоритетными направлениями модернизации и технологического развития России</li>
              <li>86 тысяч студентов — каждый пятый житель Томска</li>
              <li>более 50 % студентов — иногородние</li>
              <li>9 % студентов — иностранные (из 30 стран мира)</li>
              <li>более 5 тысяч докторов и кандидатов наук</li>
            </ul>
          </div>
          <div id="tab-24">
            <h1>Развитая инфраструктура инновационной деятельности</h1>
            <ul>
              <li>13 офисов коммерциализации разработок</li>
              <li>7 бизнес-инкубаторов</li>
              <li>4 инновационно-технологических центра</li>
              <li>4 центра трансфера технологий</li>
              <li>межведомственный центр нанотехнологий «Томскнанотех»</li>
              <li>Томский венчурный фонд</li>
              <li>сеть рискового финансирования</li>
              <li>консалтинговые компании в сфере инновационной деятельности</li>
            </ul>
          </div>
          <div id="tab-25">
            <h1>Особая экономическая зона технико-внедренческого типа «Томск»</h1>
            <ul>
              <li>информационно-коммуникационные и электронные технологии, новые материалы и нанотехнологии, биотехнологии и медицинские технологии</li>
              <li>59 резидентов (на начало 2012 года)</li>
              <li>1100 рабочих мест (на начало 2012 года)</li>
              <li>7,2 млрд рублей — бюджетное финансирование (в 2005-2010 годах)</li>
            </ul>
          </div>
          <div id="tab-26">
            <h1>Предпринимательская среда</h1>
            <ul>
              <li>более 100 инновационных промышленных предприятий </li>
              <li>более 300 малых научно-внедренческих предприятий</li>
              <li>центры и агентства по развитию предпринимательства</li>
              <li>фонды содействия кредитованию</li>
              <li>акционерные инвестиционные фонды</li>
              <li>микрофинансовые организации</li>
              <li>центр кластерного развития</li>
              <li>механизмы поддержки образования новых компаний</li>
            </ul>
          </div>
          <div id="tab-27">
            <h1>Показатели роста</h1>
            <p>Финансирование научно-образовательного комплекса</p>
            <ul>
              <li>2005-2009 годы — 64,4 млрд рублей</li>
              <li>2010 год — 21,5 млрд рублей, или 8 % ВРП</li>
            </ul>
            <p>Финансирование научной деятельности</p>
            <ul>
              <li>2010 год — 10,9 млрд рублей</li>
              <li>из них 6,5 млрд рублей — из внебюджетных источников</li>
            </ul>
            <p>Финансирование инфраструктуры научно-образовательного комплекса </p>
            <ul>
              <li>2005-2010 — 7,1 млрд рублей</li>
            </ul>
            <p>Объем научно-исследовательских работ</p>
            <ul>
              <li>2005-2010 годы — 25,5 млрд рублей</li>
              <li>рост в 2,4 раза</li>
            </ul>
            <p>Доля инвестиций в исследования и разработки в общем объеме инвестиций</p>
            <ul>
              <li>2005-2010 годы — рост в 2 раза</li>
            </ul>
          </div>
          <div id="tab-31">
            <h1>Этапы</h1>
            <h2>2011-2015 годы — привлечение и освоение инвестиций на развитие</h2>
            <ul>
              <li>научно-образовательного парка</li>
              <li>университетского кампуса</li>
              <li>инновационной инфраструктуры</li>
              <li>сопутствующей транспортной и социальной инфраструктуры</li>
              <li>среды взаимодействия инновационных институтов</li>
              <li>непрерывного и многоуровневого образования </li>
              <li>инновационного предпринимательства</li>
            </ul>
            <h2>2016-2020 годы — масштабирование инновационной деятельности</h2>
            <p>достижение инновационного и технологического лидерства по приоритетным направлениям модернизации экономики России и ключевых результатов проекта</p>
          </div>
          <div id="tab-41">
            <h1>Центр с уникальной предпринимательской средой</h1>
            <p><b>К 2020 году в Томской области будет сформирован Центр с уникальной предпринимательской средой</b>, позволяющий обеспечить инновационное и технологическое лидерство по следующим направлениям:</p>
            <ul>
              <li>модель непрерывной и многоуровневой системы образования</li>
              <li>энергосберегающие технологии и технические средства для энергоемких отраслей экономики</li>
              <li>наноэлектроника и интеллектуальная силовая электроника</li>
              <li>нанотехнологии, создание перспективных материалов и развитие пучковых, плазменных и электроразрядных технологий</li>
              <li>медицина высоких технологий, медицинские биотехнологии и фармтехнологии</li>
              <li>рациональное природопользование и глубокая переработка природных ресурсов</li>
              <li>ядерные технологии</li>
            </ul>
          </div>
        </div>
      </div>
      <%= content_tag :div, render_navigation_with_separator(@content_navigation.content.values.first['children']), :class => 'navigation' if @content_navigation %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
