<% content_for :content do %>
  <div class='content_wrapper index'>
    <div class="about_project">
      <div class="content">
        <div class="presentation">
          <div class="inside_wrapper">
            <!-- main -->
            <div class="bg_image"></div>
            <div class="presentation_title">
              <h1>ИНО<span class="medium">Томск`2020</span></h1>
              <ul>
                <li><strong>проект создания</strong> в Томской области <strong>инновационного центра образования</strong>, исследований и разработок с целью достижения лидерства по приоритетным направлениям <strong>модернизации и развития экономики России</strong>.</li>
              </ul>
            </div>
            <div class="main_slide_1">
              <h1>Почему Томск</h1>
              <p>( предпосылки )</p>
            </div>
            <div class="main_slide_2">
              <h1>Преодоление ограничений</h1>
              <p>( задачи и действия )</p>
            </div>
            <div class="main_slide_3">
              <h1>Комфортная среда</h1>
              <p>( результаты )</p>
            </div>
            <div class="main_slide_4">
              <h1>Целевые индикаторы проекта</h1>
              <p>( показатели реализации )</p>
            </div>
            <!-- / main -->
            <!-- slides 1 -->
            <div class="inner_wrapper slide_1">
              <div class="slide_name">
                <h1>Почему Томск?</h1>
                <h2>Предпосылки реализации проекта</h2>
              </div>
              <div class="inner_slide_11 inner_slide">
                <div class="wrapper">
                  <h3>15 лет инновационного развития</h3>
                </div>
              </div>
              <div class="view_inner_slide_11 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="counter">1-е</div>
                      <div class="text">место в России по концентрации научных кадров высшей квалификации</div>
                    </li>
                    <li>
                      <div class="counter">1-я</div>
                      <div class="text">в России региональная стратегия инновационного развития</div>
                    </li>
                    <li>
                      <div class="counter">1-й</div>
                      <div class="text">в России межвузовский бизнес-инкубатор</div>
                    </li>
                    <li>
                      <div class="counter">1-й</div>
                      <div class="text">в России инновационный форум</div>
                    </li>
                    <li>
                      <div class="counter">1-й</div>
                      <div class="text">в России консорциум университетов и научных организаций</div>
                    </li>
                    <li>
                      <div class="counter">1-е</div>
                      <div class="text">место в рейтинге инновационно активных регионов России</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_12 inner_slide">
                <div class="wrapper">
                  <h3>Уникальный научно-образовательный комплекс</h3>
                </div>
              </div>
              <div class="view_inner_slide_12 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="counter">10</div>
                      <div class="text">учреждений высшего профессионального образования</div>
                    </li>
                    <li>
                      <div class="counter">6</div>
                      <div class="text">государственных университетов</div>
                    </li>
                    <li>
                      <div class="counter">6</div>
                      <div class="text">институтов Томского научного центра Сибирского отделения Российской академии наук</div>
                    </li>
                    <li>
                      <div class="counter">7</div>
                      <div class="text">институтов Томского научного центра Сибирского отделения Российской академии медицинских наук</div>
                    </li>
                    <li>
                      <div class="counter">76</div>
                      <div class="text">субъектов научной деятельности</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_13 inner_slide">
                <div class="wrapper">
                  <h3>Университеты &mdash; лидеры российского высшего образования</h3>
                </div>
              </div>
              <div class="view_inner_slide_13 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="counter">>300</div>
                      <div class="text">специальностей</div>
                    </li>
                    <li>
                      <div class="counter">60</div>
                      <div class="text">специальностей, связанных с приоритетными направлениями модернизации и технологического развития России</div>
                    </li>
                    <li>
                      <div class="counter">86</div>
                      <div class="text">тысяч студентов &mdash; каждый пятый житель Томска</div>
                    </li>
                    <li>
                      <div class="counter">>50%</div>
                      <div class="text">студентов &mdash; иногородние</div>
                    </li>
                    <li>
                      <div class="counter">9%</div>
                      <div class="text">студентов &mdash; иностранные (из 30 стран мира)</div>
                    </li>
                    <li>
                      <div class="counter">>5</div>
                      <div class="text">тысяч докторов и кандидатов наук</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_14 inner_slide">
                <div class="wrapper">
                  <h3>Развитая инфраструктура инновационной деятельности</h3>
                </div>
              </div>
              <div class="view_inner_slide_14 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="counter">13</div>
                      <div class="text">офисов коммерциализации разработок</div>
                    </li>
                    <li>
                      <div class="counter">7</div>
                      <div class="text">бизнес-инкубаторов</div>
                    </li>
                    <li>
                      <div class="counter">4</div>
                      <div class="text">инновационно-технологических центра</div>
                    </li>
                    <li>
                      <div class="counter">4</div>
                      <div class="text">центра трансфера технологий</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">межведомственный центр нанотехнологий &laquo;Томскнанотех&raquo;</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">Томский венчурный фонд</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">сеть рискового финансирования</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">консалтинговые компании в сфере инновационной деятельности</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_15 inner_slide">
                <div class="wrapper">
                  <h3>Особая экономическая зона технико-внедренческого типа &laquo;Томск&raquo;</h3>
                </div>
              </div>
              <div class="view_inner_slide_15 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">информационно-коммуникационные и электронные технологии, новые материалы и нанотехнологии, биотехнологии и медицинские технологии</div>
                    </li>
                    <li>
                      <div class="counter">59</div>
                      <div class="text">резидентов (на начало 2012 года)</div>
                    </li>
                    <li>
                      <div class="counter">1100</div>
                      <div class="text">рабочих мест (на начало 2012 года)</div>
                    </li>
                    <li>
                      <div class="counter">7,2</div>
                      <div class="text">миллиарда рублей &mdash; бюджетное финансирование (в 2005-2010 годах)</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_16 inner_slide">
                <div class="wrapper">
                  <h3>Предпринимательская среда</h3>
                </div>
              </div>
              <div class="view_inner_slide_16 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="counter">>100</div>
                      <div class="text">инновационных промышленных предприятий</div>
                    </li>
                    <li>
                      <div class="counter">>300</div>
                      <div class="text">малых научно-внедренческих предприятий</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">центры и агентства по развитию предпринимательства</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">фонды содействия кредитованию</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">акционерные инвестиционные фонды</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">микрофинансовые организации</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">центр кластерного развития</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">механизмы поддержки образования новых компаний</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_17 inner_slide">
                <div class="wrapper">
                  <h3>Показатели роста</h3>
                </div>
              </div>
              <div class="view_inner_slide_17 view_inner_slide">
                <div class="info">
                  <h5>Финансирование научно-образовательного комплекса</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2005-2009</div>
                      <div class="text"><span class="important">64,4</span> млрд рублей</div>
                    </li>
                    <li>
                      <div class="year">2010</div>
                      <div class="text"><span class="important">21,5</span> млрд рублей, или <span class="important">8%</span> ВРП</div>
                    </li>
                  </ul>
                  <h5>Финансирование научной деятельности</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2010</div>
                      <div class="text"><span class="important">10,9</span> млрд рублей, из них <span class="important">6,5</span> млрд рублей &mdash; из внебюджетных источников</div>
                    </li>
                  </ul>
                  <h5>Финансирование инфраструктуры научно-образовательного комплекса</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2005-2010</div>
                      <div class="text"><span class="important">7,1</span> млрд рублей</div>
                    </li>
                  </ul>
                  <h5>Объем научно-исследовательских работ</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2005-2010</div>
                      <div class="text"><span class="important">25,5</span> млрд рублей, или рост в <span class="important">2,4</span> раза</div>
                    </li>
                  </ul>
                  <h5>Доля инвестиций в исследования и разработки в общем объеме инвестиций</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2005-2010</div>
                      <div class="text">рост в <span class="important">2</span> раза</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /slides 1 -->
            <!-- slides 2 -->
            <div class="inner_wrapper slide_2">
              <div class="slide_name">
                <h1>Преодоление ограничений</h1>
                <h2>Задачи и действия по реализации проекта</h2>
              </div>
              <div class="inner_slide_21 inner_slide">
                <div class="wrapper">
                  <h3>Этапы</h3>
                </div>
              </div>
              <div class="view_inner_slide_21 view_inner_slide">
                <div class="info">
                  <ul class="orange_list">
                    <li>
                      <div class="year">2011-2015</div>
                      <div class="text">
                        <p><strong>Привлечение и освоение инвестиций на развитие</strong></p>
                        <ul class="dotted">
                          <li>научно-образовательного парка</li>
                          <li>университетского кампуса</li>
                          <li>инновационной инфраструктуры</li>
                          <li>сопутствующей транспортной и социальной инфраструктуры</li>
                          <li>среды взаимодействия инновационных институтов</li>
                          <li>непрерывного и многоуровневого образования</li>
                          <li>инновационного предпринимательства</li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="year">2016-2020</div>
                      <div class="text">
                        <p><strong>Масштабирование инновационной деятельности</strong></p>
                        <ul class="dotted">
                          <li>достижение инновационного и технологического лидерства по приоритетным направлениям модернизации экономики России и ключевых результатов проекта</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_22 inner_slide">
                <div class="wrapper">
                  <h3>Развитие научно-образовательного парка</h3>
                </div>
              </div>
              <div class="view_inner_slide_22 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">опережающая <span class="important">коммерциализация</span> научно-технических разработок и решений по приоритетным направлениям</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">создание университетского <span class="important">кампуса</span> в Томске</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство учебных <span class="important">корпусов</span> университетов (ТГАСУ, ТУСУР)</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство госпитальных <span class="important">клиник</span> СибГМУ</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство студенческих <span class="important">общежитий</span></div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство корпуса клинико-диагностического <span class="important">центра</span> НИИ кардиологии СО РАМН</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">создание в Томске Президентского <span class="important">кадетского корпуса</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_23 inner_slide">
                <div class="wrapper">
                  <h3>Развитие инновационной инфраструктуры</h3>
                </div>
              </div>
              <div class="view_inner_slide_23 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство центра <span class="important">нанотехнологий</span> в ОЭЗ &laquo;Томск&raquo;</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство центра <span class="important">биотехнологий</span> в ОЭЗ &laquo;Томск&raquo;</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство <span class="important">делового центра</span> с выставочным комплексом и зданий резидентов ОЭЗ &laquo;Томск&raquo;</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство <span class="important">выставочного комплекса</span> в городе Томске</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_24 inner_slide">
                <div class="wrapper">
                  <h3>Развитие транспортной инфраструктуры</h3>
                </div>
              </div>
              <div class="view_inner_slide_24 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство транспортной <span class="important">развязки в двух уровнях</span> на пересечении пр. Комсомольского и ул. Пушкина</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">реконструкция и строительство</span> ул. Кольцевой, ул. Клюева, ул. Сибирской, ул. Елизаровых (прилегающих к Южной площадке ОЭЗ &laquo;Томск&raquo;)</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">реконструкция и строительство</span> ул. Беринга, ул. Мичурина, ул. Обручева, автодороги Томск &mdash; Самусь, участка ул. Мичурина &mdash; Кузовлевский тракт (прилегающих к Северной площадке ОЭЗ &laquo;Томск&raquo;)</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство <span class="important">автодороги</span> Академгородок &mdash; аэропорт Томск</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">модернизация</span> объектов аэропорта Томск</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">организация <span class="important">скоростного движения</span> на участке Новосибирск &mdash; Томск</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">железнодорожный обход</span> города Томска, вторые главные пути на участке Тайга &mdash; Томск</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_25 inner_slide">
                <div class="wrapper">
                  <h3>Развитие социальной инфраструктуры</h3>
                </div>
              </div>
              <div class="view_inner_slide_25 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">достройка жилищного <span class="important">комплекса для инноваторов</span> (9-й микрорайон &laquo;Солнечной долины&raquo;)</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство <span class="important">детских садов, школы, медицинского центра</span> в &laquo;Солнечной долине&raquo;</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">строительство <span class="important">водного комплекса</span></div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">обустройство <span class="important">лесопарковых зон</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_26 inner_slide">
                <div class="wrapper">
                  <h3>Финансирование</h3>
                </div>
              </div>
              <div class="view_inner_slide_26 view_inner_slide">
                <div class="info">
                  <h5>Объемы финансирования проекта до 2013 года</h5>
                  <ul class="orange_list with_margin">
                    <li>
                      <div class="year">2011</div>
                      <div class="text"><span class="important">15 520,3</span> млн рублей</div>
                    </li>
                    <li>
                      <div class="year">2012</div>
                      <div class="text"><span class="important">9 911,2</span> млн рублей</div>
                    </li>
                    <li>
                      <div class="year">2013</div>
                      <div class="text"><span class="important">14 323,3</span> млн рублей</div>
                    </li>
                  </ul>
                  <h5>Источники финансирования проекта до 2012 года</h5>
                  <ul class="green_list with_margin">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">Областной бюджет &mdash; <span class="important">5 370,6</span> млн рублей</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">Федеральный бюджет &mdash; <span class="important">16 252,1</span> млн рублей</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">Внебюджетные средства &mdash; <span class="important">18 301,4</span> млн рублей</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /slides 2 -->
            <!-- slides 3 -->
            <div class="inner_wrapper slide_3">
              <div class="slide_name">
                <h1>Комфортная среда</h1>
                <h2>Результаты реализации проекта</h2>
              </div>
              <div class="inner_slide_31 inner_slide">
                <div class="wrapper">
                  <h3>Центр с уникальной предпринимательской средой</h3>
                </div>
              </div>
              <div class="view_inner_slide_31 view_inner_slide">
                <div class="info">
                  <p class="margin_bottom"><strong>К 2020 году в Томской области будет сформирован Центр с уникальной предпринимательской средой</strong>, позволяющий обеспечить инновационное и технологическое лидерство по следующим направлениям:</p>
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">модель непрерывной и многоуровневой <span class="important">системы образования</span></div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">энергосберегающие технологии и технические средства <span class="important">для энергоемких отраслей</span> экономики</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">наноэлектроника</span> и интеллектуальная силовая электроника</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">нанотехнологии, создание перспективных материалов и развитие пучковых, плазменных и электроразрядных <span class="important">технологий</span></div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">медицина</span> высоких технологий, медицинские биотехнологии и фармтехнологии</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">рациональное природопользование и <span class="important">глубокая переработка</span> природных ресурсов</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">ядерные</span> технологии</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_32 inner_slide">
                <div class="wrapper">
                  <h3>Для России и мира</h3>
                </div>
              </div>
              <div class="view_inner_slide_32 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">генерация <span class="important">качественного человеческого ресурса</span>, вовлечение его в процесс модернизации экономики России и мировые инновационные процессы</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">получение глобально <span class="important">значимых знаний</span> и создание новых технологий</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">мультипликативный экономический <span class="important">эффект</span> от внедрения инноваций</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">повышение статуса</span> России в мировой инновационной системе</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">открытая <span class="important">интернациональная среда</span> за счет международного сотрудничества</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">усиление конкурентоспособности</span> Сибири и Дальнего Востока</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_33 inner_slide">
                <div class="wrapper">
                  <h3>Для России и Томской области</h3>
                </div>
              </div>
              <div class="view_inner_slide_33 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">создание модели <span class="important">Центра образования</span>, исследований и разработок и определение возможности ее внедрения в других субъектах Российской Федерации</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">массовая <span class="important">генерация и внедрение инновационной продукции и технологий</span> в Томской области, России и за рубежом</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">интеграция Томской области в <span class="important">глобальное инновационное пространство</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_34 inner_slide">
                <div class="wrapper">
                  <h3>Для науки и образования</h3>
                </div>
              </div>
              <div class="view_inner_slide_34 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">расширенное <span class="important">воспроизводство знаний</span> на уровне передового опыта ведущих мировых университетов</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">образовательная среда</span> для подготовки специалистов высшей квалификации по направлениям, обеспечивающим инновационное и технологическое лидерство</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">обмен высококвалифицированными кадрами</span> между инновационными центрами России (Сколково, Курчатовский институт и др.) и реализация совместных проектов российских центров инноваций</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">стандарты качества образования</span> и научных исследований мирового уровня</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_35 inner_slide">
                <div class="wrapper">
                  <h3>Для бизнеса</h3>
                </div>
              </div>
              <div class="view_inner_slide_35 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">трансформация 15 разработок в отдельные индустрии, обеспечивающие <span class="important">полный производственный цикл</span></div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">информационная среда для взаимной <span class="important">коммуникативной поддержки</span> участников инновационного процесса</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">эффективная работа</span> институтов развития в Томской области (государственные корпорации, венчурные фонды и др.)</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="inner_slide_36 inner_slide">
                <div class="wrapper">
                  <h3>Для населения</h3>
                </div>
              </div>
              <div class="view_inner_slide_36 view_inner_slide">
                <div class="info">
                  <ul class="green_list">
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text"><span class="important">комфортные условия</span> для жизни и деятельности, современная архитектура и инфраструктура</div>
                    </li>
                    <li>
                      <div class="check">&nbsp;</div>
                      <div class="text">повышение стандартов <span class="important">качества жизни</span> посредством использования инноваций и достижения опережающего развития экономики Томской области</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /slides 3 -->
            <!-- slides 4 -->
            <div class="inner_wrapper slide_4">
              <div class="slide_name">
                <h1>Целевые индикаторы проекта</h1>
                <h2>Ключевые показатели реализации проекта</h2>
              </div>
              <div class="slide_submenu">
                <ul>
                  <li class="submenu_41 selected"><a href="#">Образование</a></li>
                  <li class="submenu_42"><a href="#">Исследования</a></li>
                  <li class="submenu_43"><a href="#">Разработки</a></li>
                </ul>
              </div>
              <!-- slides 41 -->
              <div class="inner_slide_411 inner_slide">
                <div class="wrapper">
                  <h3>Доля населения с высшим образованием</h3>
                </div>
              </div>
              <div class="view_inner_slide_411 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_411.png" /></p>
                  <p>Доля населения с высшим образованием в общей численности лиц, занятых в экономике Томской области</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">31</td>
                    	<td class="center">32</td>
                    	<td class="center">40</td>
                    	<td class="center">45</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_412 inner_slide">
                <div class="wrapper">
                  <h3>Доля лиц, имеющих ученые степени</h3>
                </div>
              </div>
              <div class="view_inner_slide_412 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_412.png" /></p>
                  <p>Доля лиц, имеющих ученые степени доктора и кандидата наук, в общей численности профессорско-преподавательского состава</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">62,5</td>
                    	<td class="center">63,9</td>
                    	<td class="center">70</td>
                    	<td class="center">73</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_413 inner_slide">
                <div class="wrapper">
                  <h3>Количество зарубежных специалистов</h3>
                </div>
              </div>
              <div class="view_inner_slide_413 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_413.png" /></p>
                  <p>Количество зарубежных специалистов, привлеченных в сферу образования</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>человек</td>
                    	<td class="center">104</td>
                    	<td class="center">181</td>
                    	<td class="center">300</td>
                    	<td class="center">400</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_414 inner_slide">
                <div class="wrapper">
                  <h3>Количество студентов образовательных учреждений</h3>
                </div>
              </div>
              <div class="view_inner_slide_414 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_414.png" /></p>
                  <p>Количество студентов образовательных учреждений высшего профессионального образования на 10 тыс. населения</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>человек</td>
                    	<td class="center">801</td>
                    	<td class="center">827</td>
                    	<td class="center">950</td>
                    	<td class="center">1075</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_415 inner_slide">
                <div class="wrapper">
                  <h3>Доля иностранных студентов</h3>
                </div>
              </div>
              <div class="view_inner_slide_415 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_415.png" /></p>
                  <p>Доля иностранных студентов в общей численности студентов</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">8,2</td>
                    	<td class="center">9</td>
                    	<td class="center">15</td>
                    	<td class="center">20</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_416 inner_slide">
                <div class="wrapper">
                  <h3>Доля внутренних затрат на научные исследования и разработки</h3>
                </div>
              </div>
              <div class="view_inner_slide_416 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_416.png" /></p>
                  <p>Доля внутренних затрат на научные исследования и разработки учреждений высшего профессионального образования в общем объеме внутренних затрат на исследования и разработки</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">20,8</td>
                    	<td class="center">37</td>
                    	<td class="center">38,5</td>
                    	<td class="center">40</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_417 inner_slide">
                <div class="wrapper">
                  <h3>Доля школьников, обуча&shy;ющихся по инновационным программам</h3>
                </div>
              </div>
              <div class="view_inner_slide_417 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_417.png" /></p>
                  <p>Доля школьников, обучающихся по инновационным образовательным программам</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">4</td>
                    	<td class="center">15,6</td>
                    	<td class="center">50</td>
                    	<td class="center">70</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- / slides 41 -->
              <!-- slides 42 -->
              <div class="inner_slide_421 inner_slide">
                <div class="wrapper">
                  <h3>Количество полученных патентов</h3>
                </div>
              </div>
              <div class="view_inner_slide_421 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_421.png" /></p>
                  <p>Количество полученных патентов на 10 тыс. населения в год</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>единиц</td>
                    	<td class="center">5,1</td>
                    	<td class="center">5,2</td>
                    	<td class="center">5,4</td>
                    	<td class="center">5,5</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_422 inner_slide">
                <div class="wrapper">
                  <h3>Количество полученных международных патентов</h3>
                </div>
              </div>
              <div class="view_inner_slide_422 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_422.png" /></p>
                  <p>Количество полученных международных патентов</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>единиц</td>
                    	<td class="center">3</td>
                    	<td class="center">4</td>
                    	<td class="center">17-20</td>
                    	<td class="center">35</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_423 inner_slide">
                <div class="wrapper">
                  <h3>Доля исследователей с учеными степенями</h3>
                </div>
              </div>
              <div class="view_inner_slide_423 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_423.png" /></p>
                  <p>Доля исследователей с учеными степенями в общей численности работников, выполняющих исследования и разработки</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">19,7</td>
                    	<td class="center">19,8</td>
                    	<td class="center">24,3</td>
                    	<td class="center">27</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_424 inner_slide">
                <div class="wrapper">
                  <h3>Количество центров исследований и разработок в организациях</h3>
                </div>
              </div>
              <div class="view_inner_slide_424 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_424.png" /></p>
                  <p>Количество центров исследований и разработок в организациях</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>единиц</td>
                    	<td class="center">4</td>
                    	<td class="center">5</td>
                    	<td class="center">15</td>
                    	<td class="center">25</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_425 inner_slide">
                <div class="wrapper">
                  <h3>Объем средств, полученных на исследования и разработки</h3>
                </div>
              </div>
              <div class="view_inner_slide_425 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="310" src="/assets/presentation/target_indicators_425.png" /></p>
                  <p>Объем средств, полученных на исследования и разработки (млрд рублей)</p>
                  <table>
                    <tr>
                    	<th></th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>всего</td>
                    	<td class="center">9,5</td>
                    	<td class="center">11</td>
                    	<td class="center">15</td>
                    	<td class="center">20</td>
                    </tr>
                    <tr>
                    	<td>в том числе бюджетные средства</td>
                    	<td class="center">3,9</td>
                    	<td class="center">5</td>
                    	<td class="center">5</td>
                    	<td class="center">6</td>
                    </tr>
                    <tr>
                    	<td>в том числе внебюджетные средства</td>
                    	<td class="center">5,6</td>
                    	<td class="center">6</td>
                    	<td class="center">10</td>
                    	<td class="center">14</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_426 inner_slide">
                <div class="wrapper">
                  <h3>Доля внутренних затрат на исследования и разработки</h3>
                </div>
              </div>
              <div class="view_inner_slide_426 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_426.png" /></p>
                  <p>Доля внутренних затрат на исследования и разработки в валовом региональном продукте</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">2,3</td>
                    	<td class="center">2,4</td>
                    	<td class="center">5</td>
                    	<td class="center">7</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- / slides 42 -->
              <!-- slides 43 -->
              <div class="inner_slide_431 inner_slide">
                <div class="wrapper">
                  <h3>Количество инновационных предприятий</h3>
                </div>
              </div>
              <div class="view_inner_slide_431 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="310" src="/assets/presentation/target_indicators_431.png" /></p>
                  <p>Количество инновационных предприятий (единиц)</p>
                  <table>
                    <tr>
                    	<th></th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>всего</td>
                    	<td class="center">410</td>
                    	<td class="center">450</td>
                    	<td class="center">700</td>
                    	<td class="center">950</td>
                    </tr>
                    <tr>
                    	<td>в том числе хозяйственные общества, созданные бюджетными научными и образовательными учреждениями</td>
                    	<td class="center">16</td>
                    	<td class="center">52</td>
                    	<td class="center">110</td>
                    	<td class="center">160</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_432 inner_slide">
                <div class="wrapper">
                  <h3>Доля инновационных товаров, работ и услуг</h3>
                </div>
              </div>
              <div class="view_inner_slide_432 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_432.png" /></p>
                  <p>Доля инновационных товаров, работ и услуг в общем объеме отгруженных товаров, работ и услуг (по результатам регионального обследования)</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">14,8</td>
                    	<td class="center">12,4</td>
                    	<td class="center">30</td>
                    	<td class="center">31</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_433 inner_slide">
                <div class="wrapper">
                  <h3>Доля предприятий, осу&shy;ществляющих иннова&shy;ционную деятельность</h3>
                </div>
              </div>
              <div class="view_inner_slide_433 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_433.png" /></p>
                  <p>Доля предприятий, осуществляющих инновационную деятельность, в числе предприятий, обследуемых по результатам статистического федерального и регионального исследования</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>процентов</td>
                    	<td class="center">15,3</td>
                    	<td class="center">18,4</td>
                    	<td class="center">40</td>
                    	<td class="center">50</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_434 inner_slide">
                <div class="wrapper">
                  <h3>Уступка прав на результаты интеллектуальной деятельности</h3>
                </div>
              </div>
              <div class="view_inner_slide_434 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_434.png" /></p>
                  <p>Количество договоров на уступку прав на результаты интеллектуальной деятельности в год</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>единиц</td>
                    	<td class="center">90</td>
                    	<td class="center">150</td>
                    	<td class="center">300</td>
                    	<td class="center">600</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="inner_slide_435 inner_slide">
                <div class="wrapper">
                  <h3>Количество контрактов с зарубежными партнерами</h3>
                </div>
              </div>
              <div class="view_inner_slide_435 view_inner_slide">
                <div class="info">
                  <p class="center"><img width="600" height="350" src="/assets/presentation/target_indicators_435.png" /></p>
                  <p>Количество контрактов с зарубежными партнерами</p>
                  <table>
                    <tr>
                    	<th>Еденица измерения</th>
                    	<th class="center">2009 год</th>
                    	<th class="center">2010 год</th>
                    	<th class="center">2015 год</th>
                    	<th class="center">2020 год</th>
                    </tr>
                    <tr>
                    	<td>единиц</td>
                    	<td class="center">150</td>
                    	<td class="center">160</td>
                    	<td class="center">190</td>
                    	<td class="center">240</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- / slides 43 -->
            </div>
            <!-- /slides 4 -->
          </div>
        </div>
      </div>
      <%= content_tag :div, render_navigation_with_separator(@content_navigation.content.values.first['children']), :class => 'navigation noindex' if @content_navigation %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
