<% content_for :content do %>
  <div class='content_wrapper index'>
    <div class="about_project">
      <%= render_partial_for_region(@content_first) %>
      <%= content_tag :div, render_navigation_with_separator(@content_navigation.content.values.first['children']), :class => 'navigation noindex' if @content_navigation %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
