<% content_for :content do %>
  <div class='content_wrapper index'>
    <div class="barley_break">
      <h1><%= @content_first.content.values.first.title %></h1>
      <p class="help">Управлять перемещением фишек при помощи клавиш &uarr; &rarr; &darr; &larr;</p>
      <p class="shuffle top"><a href="#">Перемешать</a></p>
      <p class="indicator">Количество ходов: <span class='number'>0</span></p>
      <%= render_partial_for_region(@content_first) %>
      <p class="shuffle"><a href="#">Перемешать</a></p>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
