<% content_for :content do %>
  <h1>Header One</h1>
  <h1>И по русски первый заголовок</h1>
  <p><a href='http://www.fontsquirrel.com/fontface/generator'>@font-face generator</a></p>
<% end %>
<%= render :template => 'layouts/application' %>
