<% content_for :content do %>
  <div class='content_wrapper'>

    <%= render "regions/#{@content_first.type.underscore}", :object => @content_first.content if @content_first %>

    <div class='content_nav'>
      <%= render "regions/#{@navigation_right.type.underscore}", :object => @navigation_right.content if @navigation_right %>
    </div>

  </div>
<% end %>

<%= render :template => 'layouts/application' %>
