<% content_for :content do %>

  <div class="content_wrapper">
    <div class="news_list">
      <div class="header">
        <div class="nav">
          <%= render "regions/#{@navigation_top.type.underscore}", :object => @navigation_top.content if @navigation_top %>
          <div class="rss">
            <a href="#">RSS</a>
          </div>
        </div>
        <h1<%= " class='with_arrow'" if @navigation_top %>>Список новостей</h1>
      </div>
      <div class="items">
        <div class="item">Новость один</div>
        <div class="item">Новость дуа</div>
        <div class="item">Новость сри</div>
        <div class="item">Новость щетыре</div>
      </div>
      <div class="pagination">
        <a class="prev" href='#'>назад</a>
        <a class="page" href='#'>1</a>
        <span class="page current" href='#'>2</span>
        <a class="page" href='#'>3</a>
        <span class="page gap">&hellip;</span>
        <a class="page" href='#'>8</a>
        <a class="page" href='#'>9</a>
        <a class="page" href='#'>10</a>
        <span class="next" href='#'>назад</span>
      </div>
    </div>

    <div class="content_nav">
      <%= render "regions/#{@navigation_right.type.underscore}", :object => @navigation_right.content if @navigation_right %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
