<% content_for :content do %>

  <div class="content_wrapper">
    <div class="news_list">
      <div class="header">
        <h1>Список новостей</h1>
      </div>
      <div class="items">
        <div class="item">Новость один</div>
        <div class="item">Новость дуа</div>
        <div class="item">Новость сри</div>
        <div class="item">Новость щетыре</div>
      </div>
      <div class="pagination">
        Тут пагинация
      </div>
    </div>
    <div class="content_navigation">
      Тут навигация
    </div>
  </div>

<% end %>
<%= render :template => 'layouts/application' %>
