<p>
  Здравствуйте, <%= @user.first_name %> <%= @user.middle_name %>,
</p>

<p>
  В систему управления документами Концепции «ИНО Томск» был добавлен новый документ:
  «<%= link_to @document.full_title, workplace_document_url(@document) %>»
</p>

<hr />
<p>
  Это письмо было создано автоматически, отвечать на него не нужно.
</p>
