<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_stumbleupon" style='float: right;'></a>
  <a class="addthis_button_digg" style='float: right;'></a>
  <a class="addthis_button_delicious" style='float: right;'></a>
  <a class="addthis_button_livejournal" style='float: right;'></a>
  <a class="addthis_button_twitter" style='float: right;'></a>
  <a class="addthis_button_facebook" style='float: right;'></a>
  <a class="addthis_button_vk" style='float: right;'></a>
  <span>Поделиться:</span>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f41cadd1eb636f2"></script>
<!-- AddThis Button END -->
