app:
  url:          http://app.url
  secret:       SECRET

devise:
  secret:       SECRET

errors:
  key:          KEY
  url:          http://errors.openteam.ru

cms:
  url:          http://esp-cms.openteam.ru
  site_slug:    inotomsk.openteam.ru

storage:
  url:          http://storage.url

sso:
  url:          http://sso.url
  key:          KEY
  secret:       SECRET

youtube:
  api_key:      KEY
