app:
  url:
  secret:
  host:

errors:
  key: KEY
  url: http://errbit

slack:
  channel: channel
  webhook: http://webhook

devise:
  secret:

cms:
  url:
  site_slug:

storage:
  url:

sso:
  url:          http://sso.url
  key:          KEY
  secret:       SECRET


mail:
  from:
  address:
  port:
  domain:
  login:
  password:

youtube:
  api_key:
