<% if current_page.first? %>
  <%= content_tag :li, :class => 'prev disabled' do %>
    <a href="#" aria-label="Previous">
      <
    </a>
  <% end %>
<% else %>
  <%= content_tag :li, :class => 'prev' do %>
    <%= link_to url, :rel => 'prev', :remote => remote, :class => 'prev', :title => I18n.t('views.pagination.previous') do %>
      <
    <% end %>
  <% end %>
<% end %>
