<h1 style="font-size: 32px">
  История проекта
</h1>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 history_wrapper">
  <div class="first_item item">
    <p>
      Распоряжением Правительство Российской Федерации от 6 октября 2011 г. № 1756-р утверждена Концепция создания в Томской области Центра образования, исследований и разработок
    </p>

    <p>
      <img alt="Правительство Российской Федерации" height="62" src="http://storage.esp.tomsk.gov.ru/files/74189/70-62/%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg" title="Правительно Российской Федерации" width="70" /><img alt="ИНОТОмск 2020" height="58" src="http://storage.esp.tomsk.gov.ru/files/74706/71-58/inotomsk1.png" title="ИНОТомск 2020" width="71" />
    </p>
  </div>

  <div class="second_item item">
    <p>
      Открыто <strong>3 корпуса</strong> ОЭЗ ТВТ &laquo;Томск&raquo;: инженерный, научно-внедренческий, лабораторно-экспериментальный <strong>60 резидентов</strong>, объем инвестиций которых в ОЭЗ (с момента создания) составил <strong>5 млрд руб. 808 млн руб.</strong> &ndash; объем налоговых отчислений, создано <strong>1341 рабочее место.</strong>
    </p>

    <p>
      &nbsp;
    </p>
  </div>

  <div class="third_item item">
    <p>
      <strong>5</strong> новых высокотехнологических производств создано на территории Томской области
    </p>

    <p>
      &nbsp;
    </p>

    <div class="first_img img">
      <img alt="" height="65" src="http://storage.esp.tomsk.gov.ru/files/74194/175-65/%D0%BC%D0%B8%D0%BA%D1%80%D0%B0%D0%BD-%D0%B8-%D1%82%D1%83%D1%81%D1%83%D1%80.png" width="175" />
      <div class="description first">
        <p>
          ЗАО НПФ &laquo;Микран&raquo; совместно с Томским государственным университетом систем управления и радиоэлектроники открыли производство аппаратуры для телекоммуникации, радиолокации и приборостроения на основе собственной элементной базы
        </p>
      </div>
    </div>

    <div class="second_img img">
      <img alt="ОАО «Федеральный научно-производственный центра «Алтай» и НИ ТГУ" height="62" src="http://storage.esp.tomsk.gov.ru/files/74708/121-62/%D0%B0%D0%BB%D1%82%D0%B0%D0%B9-%D0%B8-%D1%82%D0%B3%D1%832.png" title="ОАО «Федеральный научно-производственный центра «Алтай» и НИ ТГУ" width="121" />
      <div class="description second">
        <p>
          ОАО &laquo;Федеральный научно-производственный центра &laquo;Алтай&raquo; совместно с НИ ТГУ создали производство кристаллического глиоксаля для создания перспективных высокоэнергетических композиционных материалов
        </p>
      </div>
    </div>

    <div class="third_img img">
      <img alt="" height="62" src="http://storage.esp.tomsk.gov.ru/files/74196/203-62/%D1%82%D0%B3%D0%B0%D1%81%D1%83-%D0%B8-%D1%82%D0%B4%D1%81%D0%BA.png" width="203" />
      <div class="description third">
        <p>
          ОАО &laquo;Томская домостроительная компания&raquo; совместно с Томским архитектурно-строительным университетом запустили строительство энергоресурсосберегающего жилья
        </p>
      </div>
    </div>

    <p>
      &nbsp;
    </p>
  </div>

  <div class="fourth_item item">
    <p>
      Разработана и реализуется &laquo;дорожная карта&raquo; по расширению использования продукции и технологий предприятий Томской области, в том числе импортозамещающих, для ОАО &bdquo;Газпром&ldquo;
    </p>

    <p>
      <img alt="" height="50" src="http://storage.esp.tomsk.gov.ru/files/74197/111-50/%D0%B3%D0%B0%D0%B7%D0%BF%D1%80%D0%BE%D0%BC.png" width="111" />
    </p>
  </div>

  <div class="fifth_item item">
    <p>
      НИ ТГУ и НИ ТПУ вошли в ТОП-15 ведущих университетов России
    </p>

    <p>
      <img alt="НИ ТГУ" height="62" src="http://storage.esp.tomsk.gov.ru/files/74709/56-62/tsu.png" title="НИ ТГУ" width="56" /><img alt="НИ ТПУ" height="62" src="http://storage.esp.tomsk.gov.ru/files/74199/93-62/%D1%82%D0%BF%D1%83.png" title="НИ ТПУ" width="93" />
    </p>
  </div>

  <div class="sixth_item item">
    <span><strong>Ноябрь</strong><span> </span></span>

    <p>
      <span><span>Проведена Стратегическая сессия &laquo;Новые контуры стратегического развития Томской области &ndash; обновление проекта &laquo;ИНО Томск 2020&raquo; с участием представителей министерств, госкомпаний, органов исполнительной и законодательной власти Томской области, компаний, университетов и научных организаций</span></span>
    </p>
    <span><span> </span></span>
  </div>

  <div class="seventh_item item">
    <p>
      Губернатором Томской области С.А. Жвачкиным принято решение об актуализации Концепции &laquo;ИНО Томск 2020&raquo;.
    </p>

    <p>
      Причины актуализации:
    </p>

    <ul>
      <li>
        <p>
          Запуск новых федеральных инициатив: Указы Президента России от 7 мая 2012 г., государственные программы и программный бюджет, инициативы АСИ, реформа РАН
        </p>
      </li>
      <li>
        <p>
          Переориентация инновационной политики с предложения на спрос. Акцент на высокотехнологичную промышленность (кластеры, индустриальные парки)
        </p>
      </li>
      <li>
        <p>
          Повышение приоритетности задачи удержания в регионе молодых профессионалов за счет создания новых передовых рабочих мест, умного и удобного города
        </p>
      </li>
      <li>
        <p>
          Повышение приоритетности задачи повышения эффективности и качества управления
        </p>
      </li>
    </ul>
  </div>

  <div class="eighth_item item">
    <p>
      <strong>39,9 млрд руб.</strong> &ndash; общий объем привлеченных средств из федерального бюджета, бюджета Томской области и внебюджетных источников на реализацию проекта в 2011-2013 гг.
    </p>
  </div>

  <div class="ninth_item item">
    <span><strong>Февраль</strong></span>

    <p>
      Куратором проекта &ndash; Минэкономразвития России поддержана необходимость актуализации Концепции &laquo;ИНО Томск 2020&raquo;
    </p>
  </div>

  <div class="tenth_item item">
    <span><strong>Апрель</strong><span> </span></span>

    <p>
      <span><span>Председатель Правительства РФ Д.А. Медведев дал поручение федеральным органам исполнительной власти и Администрации Томской области по актуализации Концепции создания Центра образования, исследований и разработок и созданию рабочей группы</span></span>
    </p>
    <span><span> </span></span>
  </div>

  <div class="eleventh_item item">
    <span><strong>Октябрь</strong></span>

    <p>
      В состав рабочей группы вошли ФАНО России и Минэнерго России
    </p>

    <p>
      <img alt="" height="62" src="http://storage.esp.tomsk.gov.ru/files/74209/74-62/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE.png" width="74" /><sup><img alt="" height="38" src="http://storage.esp.tomsk.gov.ru/files/74213/202-38/fed.png" width="202" /></sup>
    </p>
  </div>

  <div class="twelfth_item item">
    <p>
      <strong>28 мая .</strong> Заместитель Председателя Правительства РФ А.В. Дворкович утвердил состав федеральной рабочей группы по актуализации и реализации Концепции создания в Томской области инновационного территориального центра &laquo;ИНО Томск&raquo; Всего за 2014 г. состоялось <strong>8 заседаний</strong> рабочей группы в составе представителей <strong>12 министерств и агентств, 4 госкомпаний, институтов развития и банков</strong>
    </p>
  </div>

  <div class="thirteenth_item item">
    <p>
      <strong>14 января . </strong>распоряжением Правительства РФ №22-р одобрена Концепция создания в Томской области инновационного территориального центра &laquo;ИНО Томск&raquo; и утверждена &laquo;дорожная карта&raquo; по ее реализации
    </p>

    <p>
      <img alt="" height="62" src="http://storage.esp.tomsk.gov.ru/files/74189/70-62/%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg" width="70" /><img alt="" height="58" src="http://storage.esp.tomsk.gov.ru/files/74190/71-58/inotomsk.png" width="71" />
    </p>
  </div>

  <div class="fourteenth_item item">
    <span><strong>Январь</strong></span>

    <p>
      Совместно с <strong>ФАНО России</strong> запущен процесс по созданию <strong>Томского национального исследовательского медицинского центра Российской академии наук</strong> на базе томских научно-исследовательских институтов
    </p>
  </div>

  <div class="fifteenth_item item">
    <span><strong>Февраль</strong></span>

    <p>
      Открыт <a href="https://ino-tomsk.ru/ru/peredovoe-proizvodstvo/lesopromyshlennyy-klaster">завод по производству фанерного шпона</a> мощностью 100 тыс. куб. м в год (первый из десяти заводов российско-китайского Асиновского лесопромышленного парка) при участии Заместителя Председателя Правительства Российской Федерации А.В. Дворковича
    </p>
  </div>

  <div class="sixteenth_item item">
    <p>
      Подписано соглашение между НИ ТГУ и ГК &laquo;Фармконтракт&raquo; о стратегическом партнерстве, в т.ч. в целях строительства <a href="https://ino-tomsk.ru/ru/peredovoe-proizvodstvo/neftehimicheskiy-klaster">завода по синтезу глиоксаля</a> и производству на его основе ряда продуктов для фармацевтической и химических отраслей
    </p>
  </div>

  <div class="seventeenth_item item">
    <p>
      Открыт футбольный манеж &laquo;Восход&raquo; &ndash; объект <a href="https://ino-tomsk.ru/ru/umnyy-i-udobnyy-gorod/sportivnyy-park">спортивного парка Концепции &laquo;ИНО Томск&raquo;</a> - при участии Заместителя Председателя Правительства Российской Федерации А.В. Дворковича
    </p>
  </div>

  <div class="eighteenth_item item">
    <span><strong>Февраль-декабрь</strong></span>

    <p>
      НИ ТГУ и НИ ТПУ вошли в <strong>ТОП-4</strong> российских университетов по решению Международного совета по повышению конкурентоспособности российской высшей школы под председательством Министра образования и науки Российской Федерации Д.В. Ливанова. Впервые университеты вошли в мировой рейтинг <strong>The Times Higher Education</strong>
    </p>
  </div>

  <div class="nineteenth_item item">
    <p>
      Открыт радиологический центр Томского областного онкологического диспансера
    </p>
  </div>

  <div class="twentieth_item item">
    <p>
      На площадке &laquo;Березовая&raquo; Индустриального парка построены все инженерные сети, автодорога с освещением, ограждение территории. На площадке &laquo;Северная&raquo; построены все инженерные сети
    </p>
  </div>

  <div class="twenty_first_item item">
    <span><strong>Февраль-декабрь</strong></span>

    <p>
      Проведено <a href="https://ino-tomsk.ru/ru/press-tsentr/novosti/v-tomske/prosmotr-novosti/-/novost-ino-tomsk-stal-pervym-proektom-v-rossii-sumevshem-ob-edinit-50-deystvuyuschih-federalnyh">5 заседаний федеральной рабочей группы</a> по реализации Концепции &laquo;ИНО Томск&raquo;. По итогам заседаний было дано <strong>91 поручение</strong> министерствам и участникам реализации Концепции.
    </p>
  </div>

  <div class="twenty_second_item item">
    <p>
      Введен в эксплуатацию участок км 15 &ndash; км 30 автомобильной дороги Могильный Мыс - Парабель &ndash; Каргасок в Колпашевском районе Томской области
    </p>
  </div>

  <div class="twenty_third_item item">
    <span><strong>Февраль-ноябрь</strong></span>

    <p>
      Разработана <a href="https://ino-tomsk.ru/ru/umnyy-i-udobnyy-gorod/tomskaya-aglomeratsiya">Концепция социально-экономического и пространственно-территориального развития агломерации &laquo;Томск-Северск-Томский район&raquo;</a>
    </p>
  </div>

  <div class="twenty_fourth_item item">
    <span><strong>Март</strong></span>

    <p>
      Открыт новый завод радиоэлектронной аппаратуры ЗАО &laquo;НПФ &laquo;Микран&raquo; на 1&nbsp;000 рабочих мест
    </p>
  </div>

  <div class="twenty_fifth_item item">
    <span><strong>Май</strong></span>

    <p>
      Учрежден первый в России <a href="https://ino-tomsk.ru/ru/peredovoe-proizvodstvo/klaster-vozobnovlyaemyh-prirodnyh-resursov">Кластер возобновляемых природных ресурсов Томской области</a>. Кластер объединил лесное хозяйство, заготовку и глубокую переработку дикорастущего сырья, охотничье хозяйство, рыбохозяйственный комплекс. В состав Кластера вошло <strong>38</strong> участников, из которых <strong>25</strong> &ndash; малые и средние предприятия.
    </p>
  </div>

  <div class="twenty_sixth_item item">
    <p>
      Создана рабочая группа с участием представителей Росавтодора по вопросам строительства и реконструкции участков Северной широтной автомобильной дороги
    </p>
  </div>

  <div class="twenty_seventh_item item">
    <p>
      Подписан <a href="https://ino-tomsk.ru/ru/peredovoe-proizvodstvo/lesopromyshlennyy-klaster">Российско-китайский меморандум в области лесной промышленности и торговли</a> (строительство Белоярского лесопромышленного комплекса с объемом инвестиций 50 млрд руб.). Ведутся предпроектные работы по главному объекту &ndash; Целлюлозно-бумажному комбинату
    </p>
  </div>

  <div class="twenty_eighth_item item">
    <span><strong>Июнь</strong></span>

    <p>
      Запущены работы по капитальному ремонту центральной части пр.Ленина
    </p>
  </div>

  <div class="twenty_ninth_item item">
    <span><strong>Октябрь</strong></span>

    <p>
      <strong>Минздрав России</strong> одобрил концепцию создания на базе <strong>СибГМУ</strong> научно-образовательного медицинского кластера (третьего в России после Москвы и Санкт-Петербурга) в целях вовлечения науки в практическую медицину и ускорения разработки в Томске медицинских препаратов, обеспечения проведения их доклинических и клинических испытаний и вывода на российский рынок
    </p>
  </div>

  <div class="thirtieth_item item">
    <span><strong>Июль</strong></span>

    <p>
      Открыт бассейн олимпийского класса &laquo;Звездный&raquo; &ndash; объект <a href="https://ino-tomsk.ru/ru/umnyy-i-udobnyy-gorod/sportivnyy-park">спортивного парка Концепции &laquo;ИНО Томск&raquo;</a>
    </p>
  </div>

  <div class="thirty_first_item item">
    <p>
      На <strong>ЗАО &laquo;Сибкабель&raquo;</strong> создан новый цех по выпуску резиновых смесей, не имеющих аналогов в России - сырья для изготовления новой линейки импортозамещающих изоляционных оболочек кабельной продукции (с привлечением инвестиций около <strong>500 млн руб.</strong>)
    </p>
  </div>

  <div class="thirty_second_item item">
    <p>
      НИ ТПУ и СибГМУ заключили соглашение о запуске первой в России сетевой программы подготовки магистров в области ядерной медицины
    </p>
  </div>

  <div class="thirty_third_item item">
    <p>
      Дочернее предприятие ОАО &ldquo;ТЭМЗ&rdquo; <strong>&laquo;Томские технологии машиностроения&raquo;</strong> первым подписало с <strong>ПАО &laquo;Газпром&raquo;</strong> специальный инвестиционный контракт по реализации инвестиционного проекта &laquo;Организация производства импортозамещающей продукции&raquo; с объемом инвестиций <strong>1,5 млрд руб</strong>.
    </p>
  </div>

  <div class="thirty_fourth_item item">
    <span><strong>Ноябрь</strong></span>

    <p>
      Открыт гемодиализный центр на 240 пациентов &ndash; объект <a href="https://ino-tomsk.ru/ru/umnyy-i-udobnyy-gorod/meditsinskiy-park">медицинского парка Концепции &laquo;ИНО Томск&raquo;</a>
    </p>
  </div>

  <div>
    &nbsp;
  </div>

  <div class="thirty_fifth_item item">
    <span><strong>Декабрь</strong></span>

    <p>
      <strong>НИ ТПУ</strong> и <strong>ОАО &laquo;СХК&raquo;</strong> на опытной установке университета провели наработку пробной партии <a href="https://ino-tomsk.ru/ru/peredovoe-proizvodstvo/neftehimicheskiy-klaster">пигментного диоксида титана</a>
    </p>
  </div>
</div>
