.history_wrapper
  background: image-url('timeline.png') no-repeat center top

  .item
    width: 360px
    font-size: 12px
    clear: both

    p
      margin-bottom: 0

    .img
      float: left
      height: 80px
      background-color: #fff
      padding: 4px 0 0 4px

      &:hover, &:focus
        +box-shadow(inset 0px 4px 10px -5px rgba(0, 0, 0, .5))

      &.first_img
        margin-right: 10px

      &.third_img
        margin-top: 10px

    &:nth-child(odd)
      float: right

    &:nth-child(even)
      float: left
      text-align: right

    &.first_item
      margin-top: 48px

    &.third_item
      margin-top: -50px
      position: relative

      .first_img
        &:hover
          .first
            display: block

      .second_img
        &:hover
          .second
            display: block

      .third_img
        &:hover
          .third
            display: block

      .description
        position: absolute
        z-index: 100
        background-color: #fff
        padding: 10px
        top: 145px
        border: 1px solid #ccc
        +border-radius(5px)
        display: none
        left: 0
        +box-shadow(0px 2px 4px 0px rgba(0, 0, 0, .5))

        p
          margin: 0 !important

        &.first
          &:after, &:before
            left: 15%

        &.second
          &:after, &:before
            left: 70%

        &.third
          top: 235px

          &:after, &:before
            left: 15%

        &:after, &:before
          bottom: 100%
          left: 50%
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none

        &:after
          border-color: rgba(0, 0, 0, 0)
          border-bottom-color: #fff
          border-width: 15px
          margin-left: -15px

        &:before
          border-color: rgba(204, 204, 204, 0)
          border-bottom-color: #cccccc
          border-width: 16px
          margin-left: -16px

    &.fifth_item
      margin-top: -90px

    &.sixth_item
      margin-top: 10px

    &.seventh_item
      margin-top: -68px

      p
        &:first-child
          margin-bottom: 0 !important

      ul
        li
          background: transparent image_url('ul_bullet.png') no-repeat left 4px
          text-indent: 0

          p
            margin-left: 15px !important

    &.eighth_item
      margin-top: 53px

    &.ninth_item
      margin-top: -52px

    &.tenth_item
      margin-top: 10px

    &.eleventh_item
      margin-top: -32px

      sup
        top: -22px

    &.twelfth_item
      margin-top: -58px

    img
      &:first-child
        margin-right: 10px

    &.thirteenth_item
      margin-top: -22px

    &.fourteenth_item
      margin-top: -86px

    &.fifteenth_item
      margin-top: 8px
   
    &.sixteenth_item
      margin-top: -110px

    &.seventeenth_item
      margin-top: 12px
   
    &.eighteenth_item
      margin-top: -85px
   
    &.nineteenth_item
      margin-top: -29px
   
    &.twentieth_item
      margin-top: 15px
   
    &.twenty_first_item
      margin-top: -68px
   
    &.twenty_second_item
   
    &.twenty_third_item
      margin-top: -25px
   
    &.twenty_fourth_item
   
    &.twenty_fifth_item
      margin-top: -25px
   
    &.twenty_sixth_item
      margin-top: -85px
   
    &.twenty_seventh_item
      margin-top: 20px
   
    &.twenty_eighth_item
      margin-top: -128px
   
    &.twenty_ninth_item
      margin-top: 30px
   
    &.thirtieth_item
      margin-top: -235px
   
    &.thirty_first_item
      margin-top: 25px
   
    &.thirty_second_item
      margin-top: -280px
   
    &.thirty_third_item
      margin-top: 25px
   
    &.thirty_fourth_item
      margin-top: -340px
   
    &.thirty_fifth_item
      margin-top: -270px

@media (max-width: $screen-md-max)
  .history_wrapper

    .item
      width: 280px

      &.first_item
        margin-top: 0

      &.second_item
        margin-top: 30px

      &.third_item
        margin-top: -100px
        .first_img
          img
            width: 150px
            margin-right: 0

      &.fourth_item
        margin-top: -40px

      &.fifth_item
        margin-top: -85px

      &.sixth_item
        margin-top: 0

      &.seventh_item
        margin-top: -130px

      &.eighth_item
        margin-top: -40px

      &.ninth_item
        margin-top: -45px

      &.tenth_item
        margin-top: -15px

      &.eleventh_item
        margin-top: -70px

        p sup
          top: 5px
          display: block

      &.thirteenth_item
        margin-top: -50px

@media (max-width: $screen-sm-max)
  .history_wrapper
    background: image-url('mobile_timeline.png') no-repeat left top

    .item
      padding-left: 55px
      width: 450px

      &:nth-child(odd)
        float: left

      &:nth-child(even)
        float: left
        text-align: left

      &.first_item
        margin-top: 45px

      &.second_item
        margin-top: 35px

      &.third_item
        margin-top: 135px

        .first_img
          img
            width: 175px
            margin-right: 0

      &.fourth_item
        margin-top: 130px

      &.fifth_item
        margin-top: 65px

      &.sixth_item
        margin-top: 10px

      &.seventh_item
        margin-top: 125px

      &.eighth_item
        margin-top: 320px

      &.ninth_item
        margin-top: 25px

      &.tenth_item
        margin-top: 60px

      &.eleventh_item
        margin-top: 100px

      &.twelfth_item
        margin-top: 65px

      &.thirteenth_item
        margin-top: 175px

@media (max-width: $screen-xs-max)
  .history_wrapper

    .item

      &.first_item
        margin-top: 45px

      &.second_item
        margin-top: 50px

      &.third_item
        margin-top: 110px

        .first_img
          margin-bottom: 10px

          img
            width: 175px
            margin-right: 0

        .description
          top: 160px

          &.first
            &:after, &:before
              left: 30%

          &.second
            top: 250px

            &:after, &:before
              left: 30%

          &.third
            top: 340px

            &:after, &:before
              left: 30%

      &.fourth_item
        margin-top: 110px

      &.fifth_item
        margin-top: 85px

      &.sixth_item
        margin-top: 230px

      &.seventh_item
        margin-top: 0

        ul
          margin-bottom: 0

      &.eighth_item
        margin-top: 225px

      &.ninth_item
        margin-top: 165x

      &.tenth_item
        margin-top: 65px

      &.eleventh_item
        margin-top: 100px

      &.twelfth_item
        margin-top: 65px

      &.thirteenth_item
        margin-top: 185px
