.download_link
  background: image_url('pdf_icon.png') no-repeat left center
  padding-left: 25px

.inotomsk_wrapper
  p
    font-size: 14px

  h1
    font-size: 32px

  .conception_wrapper
    ul
      list-style: disc
      margin: 0 0 15px 40px

      li
        background: none
        text-indent: 0
        margin: 0

    .conception
      position: relative
      padding-top: 1px
      margin-bottom: 20px

      .description
        background-color: #e7ebfc
        padding: 20px 20px 15px 155px
        margin: 10px 0 0 10px

        p
          font-size: 12px

        h4
          font-size: 24px
          font-weight: bold
          font-family: 'header_light'
          line-height: 24px

        .state
          color: #82817f
          font-style: italic

        .when
          color: #82817f
          font-size: 11px
          margin: 0

      .img
        position: absolute

  .participants_wrapper
    +clearfix
    padding-bottom: 15px
    margin-top: 30px

    .ministery, .corp, .university, .business, .nn
      background-color: #fff
      border-radius: 5px
      padding: 30px 10px 10px 7px
      border: 1px solid #c7c7c9
      +box-shadow(-1px 3px 5px -3px rgba(0,0,0,0.75))
      float: left
      width: 120px
      font-style: italic
      margin-top: -32px
      margin-left: 5px

      &:after
        clear: both

    .ministery
      margin-left: 0
      margin-top: -112px

    .university
      margin-left: 130px

    .corp
      margin-top: -112px
      margin-left: 20px
      width: 105px

    .nn
      margin-left: 30px
      width: 110px

    .business
      margin-top: -112px
      margin-left: 25px
      width: 350px

  .participants_wrapper_mobile
    .ministery, .corp, .university, .business
      padding: 20px 20px 30px 70px

    .ministery
      background: image_url('participants_1_m.png') no-repeat left top

    .university
      background: image_url('participants_2_m.png') no-repeat left top

    .corp
      background: image_url('participants_3_m.png') no-repeat left top

    .business
      background: image_url('participants_4_m.png') no-repeat left top
      width: 300px
      padding-top: 10px

  .results
    margin-top: 30px

    ul
      list-style: none

      li
        background: transparent image_url('pipka.png') no-repeat left 4px
        text-indent: 0

        p
          margin-left: 20px

  .table_wrapper
    margin-top: 30px

    h1
      margin-bottom: -15px
      margin-top: 25px
      line-height: 30px

    table
      thead
        th
          font-size: 12px
          padding-left: 50px
          border-bottom: 1px solid #ddd !important

          &:last-child
            border-left: 1px solid #ddd

      td
        font-size: 24px
        padding-left: 50px
        vertical-align: middle

        &:nth-child(2n)
          border-right: 1px solid #ddd

        &.first_column
          width: 500px
          padding: 0
          text-align: left

          p
            margin: 2px 0
            padding: 15px 10px 20px 100px
            background-color: #e8ebfc

            &.table_row1
              background: image_url('table_row1.png') no-repeat 15px center #e8ebfc

            &.table_row2
              background: image_url('table_row2.png') no-repeat 15px center #e8ebfc

            &.table_row3
              background: image_url('table_row3.png') no-repeat 15px center #e8ebfc

            &.table_row4
              background: image_url('table_row4.png') no-repeat 15px center #e8ebfc

            &.table_row5
              background: image_url('table_row5.png') no-repeat 15px center #e8ebfc

            &.table_row6
              background: image_url('table_row6.png') no-repeat 15px center #e8ebfc

            &.table_row7
              background: image_url('table_row7.png') no-repeat 15px center #e8ebfc

            &.table_row8
              background: image_url('table_row8.png') no-repeat 15px center #e8ebfc

      sub
        bottom: 0
        font-size: 12px

@media (min-width: $screen-lg-min)
  .inotomsk_wrapper
    .conception_wrapper
      .conception
        .description
          padding: 20px 20px 15px 155px

@media (max-width: $screen-md-max)
  .inotomsk_wrapper
    .participants_wrapper
      .business
        width: 232px

@media (max-width: $screen-sm-max)
  .inotomsk_wrapper
    h1
      font-size: 24px

@media (max-width: $screen-xs-max)
  .inotomsk_wrapper
    h1
      font-size: 24px

    .conception_wrapper
      .conception
        .description
          padding: 20px 20px 15px 20px
          margin: 0
