.road_map_wrapper
  padding-left: 12px

  .row
    margin: 0

.road_map_page_wrapper
  h1
    font-size: 32px

  .table
    .implemented
      border-left: 15px solid #cae31b

    .now
      border-left: 15px solid #f7c834

    .postponed
      border-left: 15px solid #f69248

    th, td
      padding-left: 0

    th
      font-weight: bold
      border-bottom: 1px solid #ddd

    td
      border-right: 1px solid #ddd
      padding-left: 20px

.road_map

  h1
    margin-top: 5px

  .map_item
    padding-left: 0
    padding-right: 5px

    .implemented, .now, .postponed
      padding: 10px
      height: 290px

      h1
        font-weight: bold

        &:first-child
          margin-bottom: 10px

      span
        margin-bottom: 10px
        display: block

      p
        margin-top: 10px

    .implemented
      background-color: #b9c726

    .now
      background-color: #e9b431

    .postponed
      background-color: #e3833e

@media (max-width: $screen-md-max)
  .road_map
    .map_item
      margin-bottom: 10px

      .implemented, .now, .postponed
        height: 340px

@media (max-width: $screen-sm-max)
  .road_map
    .map_item
      margin-bottom: 10px

      .implemented, .now, .postponed
        height: 160px

@media (max-width: $screen-xs-max)
  .road_map
    .map_item
      .implemented, .now, .postponed
        height: 210px
