.work_group_wrapper
  .notice
    color: #a00064
    font-size: 16px
    font-style: italic

  table // для страницы заседаний
    tr
      td
        border: 1px solid #ddd

        &:first-child
          width: 20% !important

        &:last-child
          width: 80% !important
