@import 'compass/utilities'
@import 'compass/css3'

$container_width: 920px
$menu_width: 200px
$content_padding: 30px

.content_wrapper .about_project
  margin-left: 30px

  .presentation
    +clearfix

    .accordion
      float: right
      width: $menu_width
      padding: 10px
      background-color: #fff
      position: relative
      +border-radius(10px)
      +single-box-shadow(#aaa, 0, 1px, 2px)
      margin: 0 2px 2px 0
      & > li
        font-size: 14px
        margin: 1px 0
        & > p > a
          display: block
          color: #262533
          text-decoration: none
          background-color: #f5f2fb
          +border-radius(7px)
          outline: none
          padding: 10px
          span
            color: #939290
            font-style: italic
          &:hover
            color: #fff
            background-color: #a41162
            span
              color: #fff
        ul
          display: none
          li
            border-bottom: 1px solid #d9d9d9
            &:last-child
              border-bottom: none
            a
              display: block
              color: #929292
              font-size: 12px
              text-decoration: none
              padding: 10px
              &:hover
                background-color: #fffae4
            &:first-child
              a:hover
                background: #fffae4 url('about_project_menu_triangle.png') no-repeat 10px top
        &.selected
          ul
            background: transparent url('about_project_menu_triangle.png') no-repeat 10px top
          & > p > a
            color: #fff
            background-color: #a41162
            span
              color: #fff
          ul
            display: block
            > .selected a
              background-color: #fffae4

    .content
      +min-height(400px)
      +border-radius(10px)
      +single-box-shadow(#aaa, 0, 0, 5px)
      background: #fff url('about_project_presentation_bg.png') no-repeat right bottom
      padding: $content_padding ($content_padding + $menu_width) ($content_padding - 15px) $content_padding
      margin: 10px 10px 0 10px
      div
        display: none
      #tab-1
        display: block

  .navigation
    background-color: #fff
    +border-radius(10px)
    +single-box-shadow(#aaa, 0, 1px, 2px)
    margin: 0 20px 2px
    ul
      text-align: center
      padding: 10px 0 15px
    li
      font-size: 14px
      display: inline
      a
        color: #242335
        &:hover
          color: #d8287d
      &.selected a
        color: #9e0055
        &:hover
          color: #d8287d
    .separator
      width: 1px
      +inline-block
      font-size: 10px
      background-color: #d9d9d9
      margin: 0 40px
    .break
      display: none
