@import "compass/css3"
@import "compass/utilities"

.barley_break

  h1
    color: #a41362
    text-align: center
    font-family: 'header_normal'
    font-size: 24px
    line-height: 1.2
    margin-bottom: 10px

  $ul_size: 734px
  $ul_border: 2px
  ul
    +clearfix
    position: relative
    width: $ul_size - $ul_border * 2
    height: $ul_size - $ul_border * 2
    +single-box-shadow(#aaa, 1px, 1px, 4px)
    border: $ul_border solid #a41162
    +border-radius(5px)
    background-color: #fff
    margin: 0 auto 15px
    li
      display: none
      position: absolute
      width: 134px
      height: 134px
      border: 1px solid #c47e86
      +border-radius(3px)
      +single-box-shadow(#aaa, 0, 0, 1px)
      padding: 22px

      .counter
        color: #fff
        font-size: 18px
        +clearfix
        text-indent: -9999em
        position: absolute
        width: 40px
        height: 40px
        line-height: 40px
        top: 5px
        right: 5px
        text-align: center
        background: transparent image_url('barley_break/counter_bg.png') no-repeat center center

      &.tomskie-vuzy
        background: transparent image_url('barley_break/slide_01_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_01_bg.png')
      &.nauchnye-tsentry
        background: transparent image_url('barley_break/slide_02_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_02_bg.png')
      &.zakonodatelnaya-baza
        background: transparent image_url('barley_break/slide_03_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_03_bg.png')
      &.biznes-inkubatory
        background: transparent image_url('barley_break/slide_04_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_04_bg.png')
      &.inotomsk
        background: transparent image_url('barley_break/slide_05_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_05_bg.png')
      &.innovatsionnye-kompanii
        background: transparent image_url('barley_break/slide_06_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_06_bg.png')
      &.tsentry-transfera-tehnologiy
        background: transparent image_url('barley_break/slide_07_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_07_bg.png')
      &.tsentry-podderzhki-predprinimatelstva
        background: transparent image_url('barley_break/slide_08_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_08_bg.png')
      &.konsaltingovye-kompanii
        background: transparent image_url('barley_break/slide_09_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_09_bg.png')
      &.ofisy-kommertsializatsii-razrabotok
        background: transparent image_url('barley_break/slide_10_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_10_bg.png')
      &.agentstvo-privlecheniya-investitsiy
        background: transparent image_url('barley_break/slide_11_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_11_bg.png')
      &.innovatsionno-tehnologicheskie-tsentry
        background: transparent image_url('barley_break/slide_12_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_12_bg.png')
      &.venchurnye-fondy
        background: transparent image_url('barley_break/slide_13_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_13_bg.png')
      &.tomsknanoteh
        background: transparent image_url('barley_break/slide_14_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_14_bg.png')
      &.oez-tvt-g-tomsk
        background: transparent image_url('barley_break/slide_15_bg.png') no-repeat center center
        .counter
          background-image: image_url('barley_break/counter_15_bg.png')
      &.empty
        display: none

      p
        width: 114px
        height: 134px
        font-size: 14px
        font-weight: bold
        text-align: center
        line-height: 18px
        display: table-cell
        vertical-align: middle
        padding: 10px
        a
          color: #252535
          text-decoration: none
          &:hover
            color: #a31061
            text-decoration: underline
      a.move
        position: absolute
        +clearfix
        display: block
        background: transparent image_url('barley_break/navigation_arrows.png') no-repeat center center
        text-indent: -9999em
        outline: none
        &.to_left
          top: 80px
          left: 4px
          width: 12px
          height: 19px
          background-position: -3px -47px
          &:hover
            background-position: -22px -47px
        &.to_right
          top: 80px
          right: 4px
          width: 12px
          height: 19px
          background-position: -4px -27px
          &:hover
            background-position: -23px -27px
        &.to_top
          top: 4px
          left: 80px
          width: 19px
          height: 12px
          background-position: 0 -14px
          &:hover
            background-position: -19px -14px
        &.to_bottom
          bottom: 4px
          left: 80px
          width: 19px
          height: 12px
          background-position: 0 -1px
          &:hover
            background-position: -19px -1px
  .help
    text-align: center
  .shuffle
    font-size: 14px
    text-align: center
    &.top
      margin: 10px 0
  .indicator
    text-align: center
    margin-bottom: 15px

.solved_message
  p
    font-size: 14px
  .addthis_default_style
    margin-top: 10px
    .addthis_title
      float: left
      margin-right: 5px

.barley_break_inner
  .content
    h2
      color: #252535
      font-size: 20px
    h3
      color: #252535
    ul.details
      margin: 0 0 25px 15px
      li
        text-indent: 0
        background-color: transparent
        background-position: left 3px
        background-repeat: no-repeat
        padding-left: 24px
        &.chief
          background-image: image_url('barley_break/icon_chief.png')
        &.address
          background-image: image_url('barley_break/icon_address.png')
        &.phones
          background-image: image_url('barley_break/icon_phones.png')
        &.emails
          background-image: image_url('barley_break/icon_emails.png')
        &.site
          background-image: image_url('barley_break/icon_site.png')
