@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/typography'
@import 'compass/css3'
@import 'font_face'

body
  color: #252535
  font-size: 12px
  font-family: Verdana, Tahoma, sans-serif
  line-height: 1.4
  background: #f7f7fa url('body_bg.jpg') no-repeat top center

a
  color: #9e0055
  text-decoration: underline
  &:hover
    color: #d8287d
