@import 'compass/utilities'
@import 'compass/css3'

.belief_section
  h1
    font-family: 'header_normal'
    font-size: 1.5em
    margin-bottom: 5px
  .two_column
    +clearfix
    .belief,
    .mediateka
      width: 450px
      float: left
      &.belief
        margin-right: 10px
      &.mediateka
        margin-left: 10px
    .belief
      $photo_width: 150px
      $photo_heidth: 150px
      $description_width: 150px
      $description_height: 150px
      $description_padding: 10px
      $triangle_shift: 20px
      +clearfix
      .photo
        width: $photo_width
        height: $photo_heidth
        float: left
        position: relative
        .triangle
          position: absolute
          display: block
        &.first
          background-color: #ebfd9a
          .triangle
            width: 10px
            height: 20px
            top: $triangle_shift
            right: 0
            background: transparent url('belief_triangle_first.png') no-repeat
        &.second
          background-color: #ffe785
          .triangle
            width: 20px
            height: 10px
            bottom: 0
            left: $triangle_shift
            background: transparent url('belief_triangle_second.png') no-repeat
        &.third
          background-color: #e8ebfc
          .triangle
            width: 10px
            height: 20px
            top: $triangle_shift
            left: 0
            background: transparent url('belief_triangle_third.png') no-repeat
      .description
        width: $description_width - $description_padding * 2
        +min-height($description_height - $description_padding * 2)
        float: left
        padding: $description_padding
        &.first
          background-color: #ebfd9a
        &.second
          background-color: #e8ebfc
        &.third
          background-color: #ffe787
        .annotation
          font-size: 0.9em
          margin-bottom: 5px
          a
            color: #252535
            text-decoration: none
            &:hover
              color: #d8287d
              text-decoration: underline
        .date
          font-size: 0.8em
          color: #7a7b72

    .mediateka
      h2
        color: #fff
        font-family: 'header_normal'
        font-size: 1.5em
        text-align: center
        background: #d66a3c url('mediateka_head_bg.jpg') no-repeat
        padding: 8px 0 2px
        a
          color: #fff
          text-decoration: none
      $container_height: 265px
      $container_padding_top: 5px
      $container_padding: 15px
      .two_column
        +min-height($container_height - $container_padding_top - $container_padding)
        background-color: #e8ebfc
        padding: $container_padding_top $container_padding $container_padding $container_padding
        +clearfix
        .video
          float: left
          width: 200px
          margin-top: 10px
          margin-right: 10px
          .thumbnail
            padding: 7px 15px 9px 14px
            background: transparent url('mediateka_video_bg.png') no-repeat
            margin-bottom: 5px
          .title,
          .date,
          .more
            margin-left: 4px
        .photo
          float: left
          width: 204px
          margin-left: 6px
          .thumbnail
            padding: 17px 7px 11px 21px
            background: transparent url('mediateka_photo_bg.png') no-repeat
            margin-bottom: 5px
          .title,
          .date,
          .more
            margin-left: 14px
        .title
          font-size: 0.9em
          font-weight: bold
          margin-bottom: 5px
        .date
          font-size: 0.8em
          color: #7a7b72
          margin-bottom: 5px
        .more
          font-size: 0.9em
