@import 'compass/utilities'
@import 'compass/css3'

$container_width: 920px
$content_width: 680px
$content_margin_left: 30px
$content_margin_right: 20px
$content_nav_padding: 12px

.content_wrapper
  +clearfix
  +min-height(150px)
  .content_side
    float: left
    width: $content_width
    margin-left: $content_margin_left
    margin-right: $content_margin_right

    h1
      font-family: 'header_light'
      font-size: 2.75em
      line-height: 1.2
      margin-bottom: 10px
      &.with_arrow
        background: transparent url('news_list_header_arrow.png') no-repeat 270px 15px

    .breadcrumbs
      color: #94948c
      font-size: 0.9em
      margin-bottom: 20px
      a
        color: #94948c
        &:hover
          color: #d8287d
      span
        +inline-block
        width: 4px
        height: 7px
        overflow: hidden
        text-indent: -9999em
        background: transparent url('breadcrumb_separator.png') no-repeat
        margin: 1px 8px 0 9px

    .header
      // reset
      margin: 0
      padding: 0
      width: auto
      // end reset
      +clearfix
      margin-bottom: 10px

      .nav
        float: right
        +clearfix
        margin-top: 5px

        ul
          float: left
          +clearfix
          margin-right: 10px
          li
            float: left
            font-size: 0.9em
            border: 1px solid #ccc
            margin-left: 1px
            p
              margin-bottom: 0
            a
              color: #929292
              +inline-block
              text-decoration: none
              background-color: #f7f7fa
              padding: 5px 10px
              &:hover
                color: #d8287d
            &.selected
              border: none
              a
                color: #fff
                background: transparent url('content_news_list_selected.png') no-repeat center -17px
                padding: 6px 11px 12px
                &:hover
                  color: #fff
                  background-position: center bottom
        .rss
          float: left
          a
            display: block
            width: 27px
            height: 26px
            text-indent: -9999em
            overflow: hidden
            outline: none
            background: transparent url('rss_list.png') no-repeat

    .entries
      .entry
        +clearfix
        margin-bottom: 20px
        .image
          +float-left
          margin-right: 15px
          img
            +single-box-shadow(#aaa, 0, 0, 2px)
            margin: 2px 0 0 2px
        .description
          +clearfix
          .title
            font-size: 1.4em
            margin-bottom: 10px
          .date
            color: #94948c
            font-size: 0.9em
            margin-bottom: 10px
            .time
              padding-left: 15px
              background: transparent url('clock_gray.png') no-repeat left
              margin-left: 5px
    .video_list
      ul
        +clearfix
        margin-bottom: 20px
        li
          float: left
          width: $content_width / 3
          .thumbnail
            margin: 1px 0 5px 1px
            img
              padding: 7px 14px
              background: transparent url('video_thumb_bg.png') no-repeat center center
              +single-box-shadow(#aaa, 0, 0, 2px)
          .title
            font-size: 0.9em
            margin:
              right: 20px
              bottom: 5px
            a
              font-weight: bold
              color: #252535
              text-decoration: none
              &:hover
                color: #d8287d
                text-decoration: underline
          .date
            font-size: 0.85em
            color: #94948c
            margin-right: 20px
            .time
              padding-left: 15px
              background: transparent url('clock_gray.png') no-repeat left
              margin-left: 5px

  .entry_show
    font-size: 1.15em
    .date
      color: #94948c
      font-size: 0.8em
      margin-bottom: 10px
      .time
        padding-left: 15px
        background: transparent url('clock_gray.png') no-repeat left
        margin-left: 5px
    .annotation
      color: #94948c
      font-size: 1.16em
      font-style: italic
      border-bottom: 1px solid #ccc
      margin-bottom: 20px
      padding-bottom: 15px
    .image
      float: left
      margin: 0 15px 5px
      margin-left: -$content_margin_right
      img
        +single-box-shadow(#aaa, 0, 0, 2px)
      p
        width: 350px
        color: #94948c
        font-size: 0.8em
        margin: 5px 0 0 20px

  .interview_show
    .header
      margin: 0
      padding: 0
      width: auto
      +clearfix
      .image
        +clearfix
        float: left
        margin-right: 20px
        position: relative
        img
          border: 1px solid #ccc
          border-bottom: none
        .stub
          width: 500px
          height: 15px
          background: transparent url('interview_image_stub.png') no-repeat left center
          position: absolute
          bottom: 3px
          left: 0
      .annotation
        +clearfix
        .author
          font-family: 'header_light'
          font-size: 33px
          line-height: 1.2
          margin-left: 2px
        .post
          color: #94948c
          font-size: 16px
          font-style: italic
          font-weight: bold
          border-bottom: 1px solid #ccc
          margin-bottom: 10px
          padding-bottom: 10px
        .date
          color: #94948c
          font-size: 10px
          margin-bottom: 10px
          .time
            padding-left: 15px
            background: transparent url('clock_gray.png') no-repeat left
            margin-left: 5px

  .content_nav
    float: left
    width: $container_width - $content_width - $content_margin_right
    .navigation
      background-color: #fff
      border: 1px solid #ccc
      +border-radius(10px)
      +single-box-shadow(#aaa, 0, 1px, 3px)
      margin:
        top: 5px
        bottom: 3px
      padding: $content_nav_padding
      ul
        li
          p
            padding: 5px 5px 5px 20px
            background-repeat: no-repeat
            background-color: transparent
            background-image: url('content_nav_markers.png')
            background-position: 10px 12px
          a
            color: #252535
            text-decoration: none
            &:hover
              color: #d8287d
          li
            margin-left: 21px
            p
              padding-left: 15px
              background-position: 0 -37px
              a
                color: #929292
          &.selected
            p
              +border-radius(7px)
              background-color: #f5f2fb
              a
                color: #a41162
                &:hover
                  color: #d8287d
            li
              p
                background-color: #fff
                a
                  color: #929292
                  &:hover
                    color: #d8287d
              &.selected
                p
                  background-position: 0 -85px
                  a
                    color: #a41162
                    &:hover
                      color: #d8287d
    .more_like_this
      background-color: #fff
      border: 1px solid #a41162
      +single-box-shadow(#aaa, 0, 0, 5px)
      margin-top: 20px
      margin-bottom: 3px
      ul
        li
          background: transparent url('more_like_this_entry_bg.png') no-repeat left bottom
          padding: $content_nav_padding + 7
          &:last-child
            background: none
          .image
            margin-bottom: 5px
            img
              +single-box-shadow(#aaa, 0, 0, 1px)
          .title
            font-size: 0.9em
            margin-bottom: 5px
            a
              color: #252535
              text-decoration: none
              &:hover
                color: #d8287d
                text-decoration: underline
          .date
            color: #94948c
            font-size: 0.8em
            .time
              padding-left: 15px
              background: transparent url('clock_gray.png') no-repeat left
              margin-left: 5px
