@import 'compass/utilities'

$container_width: 920px
$column_right_margin: 20px

.footer
  +clearfix
  line-height: 1.7
  .column
    float: left
    width: $container_width / 4 - $column_right_margin
    margin-right: $column_right_margin
    &.logotype,
    &.logotype_ru,
    &.logotype_en,
    &.logotype_de,
    &.logotype_fr
      p
        width: 200px
        height: 51px
        +clearfix
        text-indent: -9999em
        background-color: #fff
        background-repeat: no-repeat
    &.logotype p,
    &.logotype_ru p
      background-image: url('footer_logotype_ru.png')
    &.logotype_en p
      background-image: url('footer_logotype_en.png')
    &.logotype_de p
      background-image: url('footer_logotype_de.png')
    &.logotype_fr p
      background-image: url('footer_logotype_fr.png')
    &.contacts
      .bolder
        font-size: 1.8em
        font-weight: bold
      .social_links
        +clearfix
        margin-top: 10px
        a
          display: block
          float: left
          width: 24px
          height: 24px
          margin-right: 10px
          +clearfix
          text-indent: -9999em
          background-color: #fff
          background-repeat: no-repeat
          &.youtube
            background-image: url('social_youtube.png')
          &.livejournal
            background-image: url('social_livejournal.png')
          &.vkontakte
            background-image: url('social_vkontakte.png')
          &.twitter
            background-image: url('social_twitter.png')
          &.facebook
            background-image: url('social_facebook.png')
