@import 'compass/utilities'

.header
  +clearfix
  .logotype
    float: left
    +min-height(135px)
    position: relative
    .symbol
      position: absolute
      top: 0
      left: 0
      a
        display: block
        width: 140px
        height: 98px
        overflow: hidden
        text-indent: -9999em
        outline: none
        background: transparent url('symbol.png') no-repeat
    .site_name
      position: absolute
      top: 70px
      left: 90px
      color: #141412
      white-space: nowrap
      h1
        font-family: 'header_light'
        font-size: 2.8em
        line-height: 1.1
        margin-left: 6px
        a
          color: #141412
          text-decoration: none
          outline: none
        .medium
          font-family: 'header_medium'
      p
        font-family: 'header_light'
        font-size: 1.1em
        line-height: 1.1
        &.shift
          margin-left: 3px
  .targets
    $main_width: 460px
    $arrow_width: 14px
    $arrow_height: 19px
    width: $main_width
    float: right
    margin-top: 40px
    +clearfix
    .left,
    .right
      float: left
      width: $arrow_width
      height: $arrow_height
      margin-top: 33px
      a
        display: block
        width: $arrow_width
        height: $arrow_height
        text-indent: -9999em
        outline: none
        background:
          image: url('targets_arrows.png')
          repeat: no-repeat
    .left a
      background-position: 0 0
      &:hover
        background-position: 0 -19px
    .right a
      background-position: -14px 0
      &:hover
        background-position: -14px -19px
    $container_margin: 10px
    $container_height: 95px
    .container
      float: left
      +clearfix
      position: relative
      height: $container_height
      width: $main_width - $arrow_width * 2 - $container_margin * 2
      margin: 0 $container_margin
    ul
      +clearfix
      position: relative
      height: $container_height
      width: $main_width - $arrow_width * 2 - $container_margin * 2
      li
        $counter_width: 30px
        $counter_margin_right: 10px
        +clearfix
        float: left
        height: $container_height
        .counter
          float: left
          width: $counter_width
          color: #dad8ff
          font-family: 'header_medium'
          font-size: 4em
          margin-top: 22px
          margin-right: $counter_margin_right
        .text
          float: left
          width: $main_width - $arrow_width * 2 - $container_margin * 2 - $counter_width - $counter_margin_right
          h1
            color: #a51263
            font-family: 'header_medium'
            font-size: 1.4em
