body
  .header
    .logotype
      .symbol a
        background-image: url('ie6/symbol.gif')
    .targets .larch
      .left,
      .right
        a
          background-image: url('ie6/larch_arrows.gif')

  .belief_section .two_column .belief
    .first .triangle
      background-image: url('ie6/belief_triangle_first.gif')
    .second .triangle
      bottom: -2px
      background-image: url('ie6/belief_triangle_second.gif')
    .third .triangle
      background-image: url('ie6/belief_triangle_third.gif')
