body
  .header
    .logotype
      .symbol a
        background-image: url('ie6/symbol.gif')
    .targets
      .left,
      .right
        a
          background-image: url('ie6/targets_arrows.gif')

  .belief_section .two_column .belief
    .first .triangle
      background-image: url('ie6/belief_triangle_first.gif')
    .second .triangle
      bottom: -2px
      background-image: url('ie6/belief_triangle_second.gif')
    .third .triangle
      background-image: url('ie6/belief_triangle_third.gif')

  .calendar_section .calendar
    margin-left: 15px
    .left a,
    .right a
      background-image: url('ie6/calendar_nav.gif')

  .content_wrapper
    .news_list
      margin-left: 15px
      .header .nav ul .selected a
        background-image: url('ie6/content_news_list_selected.gif')
      .pagination
        .prev,
        .next
          background-image: url('ie6/pagination_buttons.gif')

    .content_nav ul li p
      background-image: url('ie6/content_nav_markers.gif')
