@import 'compass/utilities'

@for $i from 1 through 5
  h#{$i}
    font-weight: normal

body

  .top_menu_wrapper
    height: 60px
    padding-top: 5px
    padding-bottom: 12px
    .top_menu
      ul
        width: 950px
        line-height: 1.4
        margin: 7px 0
        text-align: center
        &.first
          top: 0
        li
          padding: 0 7px 5px
          &.separator
            padding:
              left: 15px
              right: 15px
          &.break
            display: none
  .header .logotype .site_name h1
    font-size: 2.6em
    line-height: 1.3
    margin-bottom: -5px

  .news_section .news_container .inner_wrapper .picture .description
    bottom: -1px
    width: 439px

  .banners_section
    text-align: center
    p
      margin: 0 3px
      &.break
        display: none

  .content_wrapper
    .content_side
      .content
        ul
          list-style-type: disc
          margin-left: 40px
          li
            background: none
            text-indent: 0
        ol
          list-style-type: decimal
          margin-left: 40px
    .interview_show .header .image .stub
      bottom: 2px
    .pagination
      +clearfix
      a,
      span
        display: block
        float: left
        margin: 0 7px 2px 6px
      .current
        margin-top: 0
      .gap
        margin:
          left: 2px
          right: 2px
      .prev
        margin-right: 2px
      .next
        margin-left: 2px

  .footer_wrapper
    padding-bottom: 15px
