@import 'compass/utilities'

@for $i from 1 through 5
  h#{$i}
    font-weight: normal

body
  // temporary, don't forget remove this
  h1
    font-style: italic

  .top_menu_wrapper
    height: 60px
    padding-top: 5px
    padding-bottom: 12px
    .top_menu
      ul
        width: 920px
        line-height: 1.4
        margin: 7px 0
        text-align: center
        li
          padding: 0 17px
          &.break
            display: none
