body
  .top_menu_wrapper
    height: 50px
    background: #ce243e url('top_menu_bg.jpg') no-repeat top center
    padding: 15px 0
    .top_menu
      width: 920px
      margin: 0 auto

  .header
    width: 945px
    margin: 30px auto 20px
    padding-right: 30px

  .news_section,
  .interviews_section,
  .belief_section
    width: 920px
    margin: 0 auto 20px

  .calendar_section
    width: 945px
    margin: 0 auto 10px
    padding-right: 30px

  .footer_wrapper
    background: #fff url('footer_bg.png') no-repeat top center // height = 3px
    padding: 18px 0 15px
    margin-top: 20px
    .footer
      width: 920px
      margin: 0 auto
