=width_920
  width: 920px
  margin: 0 auto 20px

=width_1125
  width: 1125px
  margin: 0 auto 20px

=width_950
  width: 950px
  margin: 0 auto 20px
  padding-right: 30px

html, body
  height: 100%

.page_wrapper
  min-height: 100%
  margin-bottom: -105px

  &:after
    content: ''
    display: block
    height: 105px

.footer_wrapper
  background: #fff image_url('footer_bg.png') no-repeat top center
  padding: 18px 0 20px


body
  .top_menu_wrapper
    background: #ce243e image_url('top_menu_bg.jpg') no-repeat top center

  .main_wrapper
    margin-bottom: 20px
