=width_920
  width: 920px
  margin: 0 auto 20px

=width_950
  width: 950px
  margin: 0 auto 20px
  padding-right: 30px

body
  .top_menu_wrapper
    height: 50px
    background: #ce243e image_url('top_menu_bg.jpg') no-repeat top center
    padding: 15px 0 14px
    .top_menu
      +width_920
      margin-bottom: 0

  .header
    +width_950
    margin-top: 30px

  .news_section,
  .interviews_section,
  .belief_section
    +width_920

  .calendar_section
    +width_950

  .content_wrapper
    +width_950

  .banners_section
    +width_920

  .footer_wrapper
    background: #fff image_url('footer_bg.png') no-repeat top center // height = 3px
    padding: 18px 0 20px
    margin-top: 20px
    .footer
      +width_920
      margin-bottom: 0
    &.error_page
      position: absolute
      bottom: 0
      width: 100%
