@import 'compass/utilities'
@import 'compass/css3'

$shadow_color: #dfdfdf

.news_section
  +single-box-shadow($shadow_color, 3px, 3px, 3px)
  position: relative
  .nav
    position: absolute
    top: 0
    right: 0
    +clearfix
    li
      float: left
      font-size: 0.9em
      a
        display: block
        color: lighten(#dba0c0, 10%)
        background-color: #a41162
        border: 1px solid #a41162
        border-bottom: 1px solid #a41162
        margin: 4px 0 0 1px
        padding: 8px 12px 7px
        text-decoration: none
        &:hover
          color: #fff
          background-color: #d8277f
          border: 1px solid #d8277f
          border-bottom: 1px solid #a41162
      &.selected a
        color: #32001d
        border: 1px solid #a41162
        border-bottom: 1px solid #fff
        background-color: #fff
        padding: 9px 12px 10px
        margin-top: 0
        &:hover
          color: lighten(#32001d, 10%)
          background-color: #fff
          border-bottom: 1px solid #fff
  h1
    font-family: 'header_normal'
    font-size: 1.5em
    line-height: 1.9
    margin-bottom: 1px
  .news_container
    border: 1px solid #a41162
    background-color: #fff
    +single-box-shadow($shadow_color, -3px, 3px, 3px)
    .inner_wrapper
      +clearfix
      .picture,
      .news_list
        width: 50%
        float: left
      .picture
        position: relative
        .description
          color: #fff
          position: absolute
          background-color: #b13379
          +opacity(0.9)
          bottom: 0
          padding: 10px
          .text
            margin-bottom: 5px
            a
              color: #fff
              text-decoration: none
              &:hover
                text-decoration: underline
          .date
            font-size: 0.9em
            color: #ffa3d6
      .news_list
        height: 348px
        +clearfix
        overflow-y: scroll
        ul
          li
            padding: 10px 20px
            &.selected
              background-color: #f5f2fb
            a
              color: #252535
              text-decoration: none
              &:hover
                color: #d8287d
                text-decoration: underline
            .title
              margin-bottom: 5px
            .image,
            .annotation
              display: none
            .date
              font-size: 0.9em
              color: #7a7b72
        .all_news
          font-size: 0.9em
          text-align: right
          padding: 10px 20px
