.news_list_wrapper
  margin-top: 15px

  .news_navigation
    border: 0
    position: absolute
    right: 15px
    top: 1px

    li
      a
        background-color: $active_color
        color: #fff
        text-decoration: none
        +border-radius(0)
        padding-top: 5px
        padding-bottom: 5px
        margin-top: 4px

        &:hover, &:focus, &:active
          background-color: #d8277f
          border-color: transparent

      &.active
        a
          background-color: #fff
          color: #000
          cursor: pointer
          border-left: 1px solid $active_color
          border-top: 1px solid $active_color
          border-right: 1px solid $active_color
          margin: 0
          padding-top: 8px
          padding-bottom: 7px

  .news_container
    clear: both

    .inner_wrapper
      +clearfix
      clear: both
      margin: 0

      .picture-news-wrapper
        margin: 0 0 25px 12px
        border: 1px solid $active_color
        +clearfix

      .picture
        position: relative
        padding-left: 0
        padding-right: 0
        height: 422px

        .description
          color: #fff
          position: absolute
          background-color: #b13379
          +opacity(0.9)
          bottom: 0
          padding: 10px
          .text
            margin-bottom: 5px
            a
              color: #fff
              text-decoration: none
              &:hover
                text-decoration: underline
          .date
            font-size: 0.9em
            color: #ffa3d6

      .news_list
        width: 50% !important
        height: 422px
        +clearfix
        overflow-y: scroll
        padding-left: 0
        background-color: #fff

        .jspContainer
          width: auto !important

        ul
          li
            padding: 10px 20px
            &.selected
              background-color: #f5f2fb
            a
              color: #252535
              text-decoration: none
              &:hover
                color: #d8287d
                text-decoration: underline
            .title
              margin-bottom: 5px
            .image,
            .annotation
              display: none
            .date
              font-size: 0.9em
              color: #7a7b72
        .all_news
          font-size: 0.9em
          text-align: right
          padding: 10px 20px 15px

@media (max-width: $screen-md-max)
  .news_list_wrapper
    .news_container
      .inner_wrapper
        .news_list, .picture
          height: 347px

@media (max-width: $screen-sm-max)
  .news_list_wrapper
    .news_container
      .inner_wrapper
        .news_list, .picture
          height: 265px

@media (max-width: $screen-xs-max)
  .news_list_wrapper
    h1
      margin-bottom: 10px

    .news_container
      .news_navigation
        position: static

      .inner_wrapper
        .news_list, .picture
          width: 100% !important
