@import 'compass/typography'

$active_color: #9e0055

=link_styles
  color: #fff
  text-decoration: none
  font-size: 14px
  text-transform: uppercase
  padding-top: 0
  padding-bottom: 0
  border-right: 1px solid #fff

=active_link_styles
  background-color: $active_color
  color: #fff
  +border-radius(5px)
  border-right: 1px solid transparent

=li_styles
  padding: 10px 5px 10px 0

.navbar-default
  background-color: transparent
  border: none

.top_menu_wrapper
  .top_menu
    .first
      li
        +li_styles

        &:last-child
          a
            border-right: 0

        &.active
          a
            +active_link_styles

        a
          +link_styles

          &:hover, &:focus, &:active
            +active_link_styles

    .languages
      li
        +li_styles
        color: #fff
        padding: 12px 5px 12px 0

        &.active
          a
            text-decoration: none
            color: #fff
            background-color: transparent

        &:last-child
          a
            border-right: 0

        a
          +link_styles
          font-size: 12px
          text-decoration: underline
          color: $active_color
          text-transform: none
          padding: 0 10px 0 0
          line-height: 13px

    .search-form
      position: relative
      border: 0

      .input-field
        +border-radius(8px)
        border: 0
        width: 200px
        padding: 4px 0 4px 10px

      .search-button
        text-indent: -9999px
        border: 0
        background: transparent image_url('search_button.png') no-repeat
        width: 16px
        height: 16px
        position: absolute
        top: 4px
        right: 22px

@media (max-width: $screen-xs-max)
  body
    .top_menu_wrapper
      background-size: 600%

      .top_menu
        .first
          li
            a
              border-right: 0

        .search-form
          float: left
          padding: 5px 0 0 0

          .search-button
            top: 10px
            right: 7px

        .navbar-collapse
          clear: both

        .navbar-toggle
          background-color: $active_color
          border: 0

          .icon-bar
            background-color: #fff

          &:focus, &:active
            background-color: #fff

            .icon-bar
              background-color: $active_color

        .languages
          li
            +inline-block

            a
              color: #000
