$active_color: #9e0055

=link_styles
  color: #fff
  text-decoration: none
  font-size: 14px
  text-transform: uppercase
  padding: 0 5px
  margin-right: 5px

=active_link_styles
  background-color: $active_color
  color: #fff
  +border-radius(5px)

=li_styles
  margin: 10px 5px 10px 0
  border-right: 1px solid #fff

.navbar-default
  background-color: transparent
  border: none

.navbar-header
  .navbar-brand
    padding: 5px 0 0 0

.top_menu_wrapper
  .top_menu
    .first
      li
        +li_styles

        &:last-child
          border-right: 0

        &.active
          a
            +active_link_styles

        a
          +link_styles
          font-family: 'PT Sans'

          &:hover, &:focus, &:active
            +active_link_styles


@media (max-width: $screen-xs-max)
  body
    .top_menu_wrapper
      +background(linear-gradient(top, rgba(#fff, 1), rgba(#e8ebfc, 1)))
      position: relative

      .top_menu
        .first
          li
            border-right: 0
            margin: 5px

        .navbar-collapse
          clear: both
          border: 0
          position: absolute
          z-index: 100
          margin-left: -30px
          width: 100%

          ul
            background-color: #b3b3b3

        .navbar-toggle
          background-color: #b3b3b3
          border: 0

          .icon-bar
            background-color: #fff
