<p>Добрый день, <%= @resource.email %>!</p>

<p>Кто-то запросил изменение вашего пароля на inotomsk.ru, вы можете изменить ваш пароль, пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не делали - просто проигнорируйте это письмо</p>
<p>Ваш пароль не изменится до тех пор, пока вы не пройдете по ссылке выше.</p>
