<% unless object.blank? %>
  <h1><a href='/ru/press-tsentr/kalendar-meropriyatiy/'>Календарь мероприятий</a></h1>
  <% if object.pagination %>
    <% @array = object.items %>
    <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
    <%= paginate @array, :param_name => object.pagination.param_name, :theme => 'main_event_list'  %>
  <% end %>
  <div class='timeline'>
    <% if object.items.any? %>
      <% object.items.each do |event| %>
        <div class='event'>
          <p class='day'><%= event_interval(event.event_entry_properties.first.since, event.event_entry_properties.first.until).html_safe %></p>
          <p class='separator'>&nbsp;</p>
          <p class='title'>
            <%= link_to strip_tags(event.title), event.link %>
          </p>
        </div>
      <% end %>
    <% else %>
      <h2>Список мероприятий пуст</h2>
    <% end %>
  </div>
<% end %>
