<div class='news_item'>
  <span class='date'>
    <%= l DateTime.parse(object.updated_at), :format => :long %>
  </span>
  <div class="annotation">
    <%= raw object.annotation %>
  </div>
  <%= raw object.body %>
  <%= object.author %>
</div>
