<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h1>Документы</h1>

        <p><%= link_to '+ Добавить документ', new_workplace_document_path, :class => 'btn btn-primary' %></p>
      </div>
    </div>

    <%= render 'search_form' %>

    <br />

    <div class='row'>
      <div class='col-xs-8'>
        <% @documents.each do |document| %>
          <%= render document %>
        <% end %>
      </div>

      <div class='col-xs-4'>
        ola!
      </div>
    </div>

  </div>
</div>
